.accord {
	&__list {
		margin: 0;
		padding: 0 ;
	}
	&__btn.btn {
		display: none;
		width: 100%;
		text-align: center;
		background: $color_base;
		font-weight: 400;
		@include tablets {
			display: block;
		}
	}
	&__inner-wrap {
		margin-bottom: 60px;
	}
	&__item {
		list-style-type: none;
		padding-left: 0;
		border-bottom: 1px solid #f0f0f0;
	}
	&__item.active {
		@include tablets {
			padding-bottom: 20px;
		}
	}
	&__item.active #{&}__toggle:before {
		transform: rotate(180deg);
	}
	&__item.active #{&}__toggle {
		color: $color_base;
	}
	&__toggle {
		font-size: 16px;
		color: #000;
		font-weight: 500;
		padding: 15px 0;
		cursor: pointer;
		position: relative;
		transition: 0.2s color ease;
	}
	&__toggle::before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		right: 10px;
		width: 0;
		height: 0;
		margin-top: -3px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #cccccc;
		z-index: 10;
		pointer-events: none;
		transition: 0.3s ease trasform;
	}
	&__inner-list {
		margin: 10px 0 ;
		padding: 0;
		&_indent {
			margin-bottom: 30px;
		}
		&_min-indent {
			margin-bottom: 25px;
		}
	}
	&__inner-item {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 5px;
	}
	&__inner-list:last-child {
		margin-bottom: 25px;
	}
	&__svg-icon_pos.svg-icon {
			top: 4px;
	}
	&__text {
		line-height: 1.8;
		font-size: 16px;
	}
}