.accord-item {
	position: relative;
	padding-left: 40px;
	&__svg-icon {
		position: absolute;
		left: 0;
		top: 1px;
		fill: $color_base;
		margin-right: 20px;

	}
	&__text {
		color: #000;
		font-size: 16px;
		line-height: 1.6;
	}
}