.basket-order {
	width: 100%;
	padding-bottom: 35px;
	&__top {
		background-color: $color_base;
		padding: 8px 30px;

	}
	&__row {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #f0f0f0;
		padding: 20px 0 20px;
		&_head {
			border-bottom: none;
			padding: 0 0 10px;
			align-items: flex-start;
		}
		&_head + .basket-order__row {
			padding-top: 0;
		}
	}
	&__column:not(:last-child) {
		padding-right: 10px;
	}
	&__column {
		width: 100%;
		max-width: 120px;
		flex-grow: 1;
		word-break: break-word;
		&_size {
			&_1 {
				max-width: 85px;
			}
			&_2 {
				max-width: inherit;
			}
			&_3 {
				max-width: 95px;
			}
			&_8 {
				max-width: 90px;
			}
			&_9 {
				max-width: 20px;
			}
		}
	}
	&__number {
		font-size: 16px;
		color: #ffffff;
	}
	&__inner-title {
		color: #999999;
		font-size: 12px;
		word-break: break-word;
	}
	&__wrap {
		padding: 30px 30px 10px;
		max-height: 320px;
		overflow: hidden;
		position: relative;
		&:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70px;
            opacity: 1;
            transition: opacity .1s  ease;
            background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0.7) 100%);
        }
	}
	&.block-cut #{&}__wrap {
		max-height: inherit;
	}
	&.block-cut #{&}__wrap:before {
		 opacity: 0;
	}
	&__inner-title {
		font-size: 12px;
		color: #999999;
	}
	&__text {
		color: #777777;
		font-size: 16px;
		&_color_1 {
			color: #000000;
		}
		&_dots {
			width: auto;
			white-spacing: nowrap;
			text-overfolw: ellepsis;
		}
	}
	&__remove {
		border-radius: 50%;
		background-color: #ebebeb;
		width: 20px;
		height: 20px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: background-color .3s ease;
		svg {
			width: 10px;
			height: 10px;
		}
		&:hover {
			background-color: $color_base;
			.basket-order__svg-icon {
				fill: #ffffff;
			}
		}
		.basket-order__svg-icon {
			fill: #999999;
		}
	}
	&__counter-amount {
		background-color: transparent;
		border: none;
		height: 20px;
	}
	&__counter-amount-value {
		color: #777777;
		font-size: 16px;
		width: 36px;
		outline: none;
	}
	&__counter-amount-btn {
		background-color: transparent;
		padding: 0;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		font-size: 18px;
		line-height: 20px;
		transition: background-color .3s ease;
		svg {
			width: 10px;
			height: 10px;
		}
		&:hover {
			background-color: $color_base;
			.basket-order__svg-icon {
				fill: #ffffff;
			}
		}
		.basket-order__svg-icon {
			fill: #999999;
		}
	}
	&__show-all-btn {
		text-align: center;
		padding-top: 10px;
	}
}