.btn-actions {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .3s ease;
		margin-right: 10px;
		@include size(40px);
		border-radius: 2px;
		svg {
			fill: $color_base;
			transition: all .3s ease;
		}
		&_position {
			position: relative;
		}
	}
	&__icon_compare svg {
		path {
			stroke: $color_base;
		}
	}

	&__icon_favorites {
		transition: transform 0.8s ease;
	}
	&:hover #{&}__icon {
		animation-play-state: running;
	}

	&:hover #{&}__icon_favorites {
		 transform: rotate(360deg);
	}

	&:hover #{&}__icon_compare svg {
		path {
			fill: none;
			stroke-dasharray: 50 0;
			animation-name: dasharray;
			animation-duration: 2.5s;
			animation-delay: 0s;
			animation-direction: alternate;
			animation-iteration-count: 2;
			animation-fill-mode: none;
		}
	}
	&__text {
		font-size: 16px;
		color: #999999;
		transition: all .3s ease;
		margin-top: 4px;
	}
	&:hover #{&}__text {
		color: #777777;
		text-decoration: underline;
	}
	&__order-count {
		position: absolute;
		right: -2px;
		top: -3px;
		padding: 4px 5px;
		background-color: #ff3333;
		border-radius: 505px;
		min-width: 18px;
		height: 18px;
		line-height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		color: #ffffff;

	}
}

@keyframes dasharray {
	100% {
		stroke-dasharray: 0 500;
	}
}

