.btn-check {
	display: inline-block;
	cursor: pointer;
	user-select: none;
	margin: 0;
	&_disabled.option {
		cursor: auto;
	}
	&__name{
		display: block;
	}
	&__input{
		display: none;
	}
	&__input:checked ~ #{&}__name{
		background-color: $color_base;
		color: #ffffff;
	}
	&__input:disabled ~ #{&}__name{
		opacity: 0.4;
	}
}