.calc {
	&_position {
		position: relative;
		z-index: 10;
	}
	&__wrap {
		border-radius: 2px;
		background-image: linear-gradient(to right, #3366cc 0%, #333399 100%);
		padding: 20px 20px 30px;
		@include laptop {
			padding: 32px 20px 0;
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -28px;
	}
	&__item {
		width: calc(33.33333% - 56px);
		margin: 0 28px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		@include laptop {
			width: 100%;
			flex-direction: row;
		}
	}
	&__svg-icon {
		display: block;
		fill: #3399ff;
		@include laptop {
		   fill: #3366cc;
		}
		&_light {
				@include size(30px, 34px);
		}
		&_home {
				@include size(35px, 27px);
		}
		&_analog {
				@include size(23px);
		}
	}
	&__title {

		@include laptop {
			border-bottom: 1px solid $color_white-op;
			margin-bottom: 25px;
			cursor: pointer;
			flex-grow: 1;
			padding-bottom: 6px;
		}
		@include phones {
			padding-bottom: 3px;
			margin-bottom: 20px;
		}
	}
	&__item.active #{&}__title {
		border-bottom: none;
	}
	&__title-text {
		color: #ffffff;
		font-size: 22px;
		font-weight: 500;
		line-height: 1.3;
		@include laptop {
			color: $color_base;
			font-size: 18px;
		}
		@include phones {

			word-break: break-word;
			line-height: 1.1;

		}
	}
	&__title-icon-box {
		max-width: 50px;
		width: 100%;
		margin-right: 10px;
		@include laptop {
			max-width: 40px;
		}
	}
	&__item:last-child #{&}__title {
		border-bottom: none;
	}
	&__title-top {
		display: flex;
		align-items: center;
		min-height: 60px;
		margin-bottom: 15px;
		@include laptop {
			min-height: inherit;
			justify-content: center;
			font-size: 18px;
			background-color: #ffffff;
			box-shadow: 0 0 15px rgba(51, 102, 204, 0.4);
			border-radius: 2px;
			padding: 12px 20px 12px 12px ;
		}
		@include phones {
			min-height: 50px;
			padding-top: 8px;
			padding-bottom: 5px;
		}
	}
	&__title-bottom {
		text-align: center;
	}
	&__show-all {
		font-size: 16px;
		color: $color_white-op;
		position: relative;
		display: none;
		@include laptop {
			display: inline-block;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: -20px;
			width: 0;
			height: 0;
			margin-top: -3px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #cccccc;
			z-index: 10;
			pointer-events: none;
			transition: 0.3s ease trasform;
		}
	}
	&__item.active #{&}__title:before,
	&__item.active #{&}__show-all:before {
		transform: rotate(180deg);
	}
	&__desc {
		padding-left: 60px;
		font-size: 16px;
		color: $color_white-op;
		line-height: 1.4;
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;

		@include laptop {
			margin-bottom: 25px;
			display: block;
		}
	}
	&__text {
		margin-bottom: 40px;
		max-width: 100%;
		@include laptop {
			margin-bottom: 25px;
			width: 100%;
		}
		@include phones {
			word-break: break-all;
		}
	}
	&__text a:hover {
		text-decoration: none;
	}
	&__text a {
		color: #ffffff;
		text-decoration: underline;
	}
	&__btn {
		width: 100%;
		padding-bottom: 8px;
		padding-top: 8px;
		text-align: center;
		display: flex;
		background-color: #ffffff;
		align-items: center;
		min-height: 50px;
		@include laptop {
			padding-left: 13px;
			padding-right: 13px;
		}
		@include phones {
			font-size: 15px;
		}
		&:active,
		&:visited {
			color: #ffffff;
			text-decoration: none;
		}
		&:hover {
			color: #ffffff;
			text-decoration: none;
		}
		.btn__text {
			color: #3366cc;
			font-size: 18px;
			font-weight: 500;
		}
		.calc__svg-icon {
			margin-right: 10px;
		}
	}
}

// Хаки для ie 11 /* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.calc__title-icon-box {
		margin-right: 20px;
	}
}