.calc-banner {
    &_indent {
        @include laptop {
            padding-bottom: 30px;
            border-bottom: 1px solid  #f0f0f0;;
        }
    }
    &__wrap {
        padding: 35px 25px 90px 25px;
        background-color: #f0f0f0;
        background-image: url('../img/calc2.png');
        background-repeat: no-repeat;
        background-position: 95% 20px;
        border-radius: 2px;
        @include laptop {
            background-image: url('../img/calc.png');
            background-position: 100% 100%;
            padding-bottom: 55px;
        }
        @include phones {
            padding-bottom: 200px;
        }
    }
    &__content {
        @include laptop {
            max-width: 380px;
            width: 100%;
        }
    }
    &__title {
        color: #000000;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.1;
        margin-bottom: 10px;
        @include laptop {
            margin-bottom: 40px;
        }
        @include tablets {
            font-size: 20px;
        }
        @include phones {
            margin-bottom: 25px;
        }
    }
    &__title a {
        text-decoration: underline;
        color: $color_base;
        &:hover {
            text-decoration: none;
        }

    }
    &__desc {
        font-size: 16px;
        color: #000000;
        line-height: 1.1;
        @include laptop {
            font-size: 14px;
        }
    }
}