.category-item {
    padding: 30px;
    padding-top: 50px;
    &__image {
        height: 235px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
        img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
        }
    }
    &__name {
        color: #000;
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        text-decoration: none;
        line-height: 1.3;
        &:hover {
            text-decoration: underline;
        }

    }
}
