.catalog-options {
    &__item {
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #f0f0f0;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
    }
    &__name {
        display: inline-block;
        width: 100%;
        color: #999;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin-right: 15px;
        margin-bottom: 12px;
    }
    &__item_wide {
        display: flex;
        align-items: center;
    }
    &__item_wide_2 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &__item_wide_2 #{&}__name {
        width: 100%;
    }
     &__item_wide_2 #{&}__name {
        width: 100%;
    }
    &__item_wide_2  .option__name {
        padding-left: 15px;
        padding-right: 15px;
    }
    &__item_wide #{&}__name {
        width: auto;
    }
    .option {
        margin-bottom: 10px;
    }
    &__item_two-row {
        min-height: 125px;
    }
    &__item:not(#{&}__item_wide) #{&}__container {
        @include mh(-5px);
    }
    &__item:not(#{&}__item_wide) .option {
        @include mh(5px);
    }
}
