.catalog-item {
	padding: 30px;
	padding-top: 44px;

	&__main {
		&_positon {
			flex-grow: 1;
		}
	}
	&__inner-wrap {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 25px;
		flex-grow: 1;
		@include laptop {
			margin-bottom: 5px;
		}
	}
	&:hover {
		box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.05);
		border-color: transparent;
		position: relative;
		z-index: 2;
	}
	&__container {
		position: relative;
		&_position {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: stretch;
			flex-grow: 1;
		}
	}
	&__label-container {
		position: absolute;
		top: -30px;
		left: -10px;
	}
	&__label {
		margin-right: 10px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	&__image {
		height: 220px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 60px;
		img {
			max-width: 100%;
			max-height: 100%;
			height: auto;
		}
		&_indent.catalog-item__image {
			margin-bottom: 30px;
			@include laptop {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: flex-start;
				margin-right: 0;
				width: auto;
			}
		}
	}
	&__name {
		display: inline-block;
		min-height: 68px;
		color: #000;
		font-size: 18px;
		font-weight: 500;
		line-height: 22px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&_indent.catalog-item__name {
			margin-bottom: 20px;
			@include laptop {
				margin-bottom: 15px;
				font-size: 14px;
				min-height: 55px;
			}
		}
	}
	&__price-old {
		display: inline-block;
		min-height: 25px;
		color: #999;
		font-size: 20px;
		font-weight: 300;
		text-decoration: line-through;
		&_tablet {
			display: none;
		}
		&_position_bottom {
			display: flex;
			flex-wrap: wrap;
		}
	}
	&__price-current {
		color: #000;
		font-size: 28px;
		font-weight: 500;
		&_indent {
			margin-right: 15px;
			@include laptop {
				margin-right: 0;
			}
		}
	}
	&__avly {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__middle {
		margin-top: 38px;
	}
	&__bottom {
		display: flex;
	}
	&__btn-mini,
	&__btn-order,
	&__btn-avly-notice {
		transition: all .3s ease;
		border-radius: 2px;
		svg {
			transition: all .3s ease;
		}
		&:hover {
			cursor: pointer;
		}
	}
	&__btn-mini {
		@include size(40px);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		border: none;
		svg {
			fill: $color_base;
		}
		&:hover {
			background-color: $color_base;
			svg {
				fill: #fff;
			}
		}
		&_hide_laptop {
			@include laptop {
				display: none;
			}
		}
		&_hide_mobile {
			@include phones {
				display: none;
			}
		}
	}
	&__btn-order {
		margin-left: 10px;
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		flex-grow: 1;
		border: 1px solid $color_base;
		background-color: $color_base;
		&:hover {
			color: $color_base;
			background-color: transparent;
		}
		&_size {
			max-width: 87px;
			@include laptop {
				max-width: 100%;
				padding: 9px 15px;
			}
		}
		&_position {
			margin-left: auto;
			@include laptop {
				margin-left: auto;
			}
		}
	}
	&__btn-avly-notice {
		@include size(100%, 40px);
		color: #777;
		background-color: transparent;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		border: 1px solid #e0e0e0;
		&:hover {
			border: none;
			background-color: $color_base;
			color: #fff;
		}
	}
}

@media (max-width: 980px) {
	.catalog-item {
		padding: 10px;
		&__image {
			@include size(110px);
			margin-bottom: 0;
		}
		&__top {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			&_position {
				@include laptop {
					display: block;
				}
			}
		}
		&__middle {
			display: none;
		}
		&__bottom {
			margin-top: 20px;
		}
		&__name {
			font-size: 16px;
			line-height: 18px;
			min-height: auto;
			margin-bottom: 17px;
		}
		&__info {
			width: calc(100% - 110px);
			padding-left: 15px;
			&_size_laptop {
				@include laptop {
					width: 100%;
				}
			}
		}
		&__avly {
			justify-content: flex-start;
		}
		&__status {
			display: none !important;
		}
		&__price-old {
			font-size: 16px;
			min-height: inherit;
			&_tablet {
				display: block;
				margin-left: 14px;
			}
			&_desktop {
				display: none;
			}
		}
		&__price-current {
			font-size: 20px;
		}
		&__label-container {
			left: 0;
			top: 0;
			svg {
				@include size(30px);
			}
		}
		&__label:not(:last-child) {
			margin-bottom: 5px;
		}
	}
}

@media (max-width: 600px) {
	.catalog-item {
		width: 100%;
	}
	.catalog {
		&__view-sort {
			flex-direction: column;
			align-items: flex-start;
		}
		&__sort,
		&__view-settings {
			display: none;
		}
		&__sort-mob,
		&__view-setting-mob {
			display: block;
		}

		&__btn-filter {
			width: 100%;
			@include pv(15px);
			justify-content: space-between;
		}
		&__view-setting-mob,
		&__btn-filter {
			border-bottom: 1px solid #f0f0f0;
		}
	}
}

@media (max-width: 380px) {
	.catalog-item {
		&__name {
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}
}