.change-input {
	&__title {
		color: #999999;
		font-size: 12px;
		margin-bottom: 5px;
	}
	&__wrap {
		max-width: 280px;
		position: relative;
		display: inline-block;
	}
	&__text {
		color: #000000;
		font-size: 16px;
		padding-top: 5px;
		padding-bottom: 10px;
		border: none;
		display: inline-block;
		padding-right: 60px;
		border-bottom: 1px solid transparent;
		&:focus {
			border-bottom-color: #999999;
			outline: none;
		}
		&:focus ~ .change-input__btn {
			display: none;
		}
		&:focus ~ .change-input__close {
			display: flex;
		}
	}
	&__text[contenteditable="false"] {
		color: #999999;
	}
	&__svg-icon {
		fill: #999999;
	}
	&__btn {
		position: absolute;
		top: 8px;
		right: 0;
		cursor: pointer;
		pointer-events: none;
	}
	&__close {
		position: absolute;
		top: 2px;
		right: 0;
		width: 16px;
		height: 16px;
		display: none;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
}
