.checkbox-label{
	display: flex;
	justify-content: flex-start;
	@include size(100%, 44px);
	cursor: pointer;
	user-select: none;
	&__name{
		height: 100%;
		display: flex;
		align-items: center;
		flex-grow: 1;
		border-radius: 2px;
		color: #999;
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		word-break: break-word;
		padding-left: 19px;
	}
	input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	input:checked ~ &__name,
	&:hover #{&}__name{
		background-color: #ebebeb;
		color: $color_base;
	}
}