.checkbox{
	display: block;
	position: relative;
	padding-left: 29px;
	cursor: pointer;
	user-select: none;
	&__name{
		color: #999;
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		position: relative;
		top: 3px;
		word-break: break-word;
	}
	input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	&__view{
		display: flex;
		align-items: center;
		justify-content: center;
		@include size(15px);
		border-radius: 50%;
		border: 1px solid #e0e0e0;
		position: absolute;
		top: 4px;
		left: 0;
		background-color: #fff;
		svg{
			fill: transparent;
		}
	}
	&:hover input:not(:checked) ~ #{&}__view{
		border-color: $color_base;
		svg{
			fill: $color_base;
		}
	}

	input:checked ~ &__view{
		border-color: $color_base;
		background-color: $color_base;
	}

	input:checked ~ &__name,
	&:hover #{&}__name{
		color: $color_base;
	}
}
