.counter-amount {
    display: inline-flex;
    border-radius: 2px 0 0 2px;
    background-color: #f0f0f0;
    border: 2px solid #f0f0f0;
    height: 40px;
    &__btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 20px;
        color: #cccccc;
        border: none;
        outline: none;
        background-color: #f0f0f0;
        transition: .3s ease;
        cursor: pointer;
    }
    &__btn:hover {
        color: #ffffff;
        background-color: $color_base;
    }
    &__value {
        max-width: 50px;
        width: 100%;
        text-align: center;
        background-color: #ffffff;
        color: #000000;
        font-size: 18px;
        border: none;
    }
}