.current-filter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__list {
        @extend %ul-default;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        display: block;
        margin-bottom: 10px;
        &:not(:last-child) {
            margin-right: 10px;
        }
        svg {
            fill: #ccc;
            margin-left: 10px;
            &:hover {
                cursor: pointer;
                fill: #000;
            }
        }
    }
    &__button-clear {
        padding: 5px 13px;
        margin-left: 20px;
        font-size: 16px;
        font-weight: 400;
        white-space: nowrap;
        border: 1px solid #ccc;
        color: #999;
        background-color: #fff;
        border-radius: 2px;
        transition: all 0.3s ease;
        &:hover {
            cursor: pointer;
            color: #fff;
            background-color: $color_base;
            border-color: $color_base;
        }
    }
}