
.decor {
	position: relative;
	@include laptop {
		display: none;
	}
	&__img-box {
		position: absolute;
		//overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		z-index: 4;
		&_pos {
			&_1 {
				top: 251px;
				left: 90px;
				width: 55px;
				height: 218px;
			}
			&_2 {
				top: -35px;
				left: 128px;
				width: 65px;
				height: 169px;
			}
			&_3 {
				top: 259px;
				right: 374px;
				width: 131px;
				height: 236px;
				z-index: 9;
			}
			&_4 {
				top: -35px;
				right: 110px;
				width: 39px;
				height: 132px;

			}
			&_5 {
				top: 420px;
				left: 337px;
				width: 108px;
				height: 291px;
				z-index: 9;
			}
			&_6 {
				top: -137px;
				left: -55px;
				width: 153px;
				height: 354px;
				z-index: 11;
			}
			&_7 {
				top: 169px;
				left: 92px;
				width: 213px;
				height: 297px;
			}
			&_8 {
				top: 268px;
				right: 12px;
				width: 273px;
				height: 250px;
			}
			&_9 {
				top: 215px;
				right: -80px;
				width: 157px;
				height: 203px;

			}
			&_10 {
				top: 189px;
				right: -191px;
				width: 234px;
				height: 450px;
				z-index: 9;
			}
		}
	}
	&_position_firefox {

		.decor__img-box_pos {
			&_1 {
				top: 82px;
			}
			&_2 {
				top: -209px;
			}
			&_3 {
				top: -170px;
			}
			&_4 {
				top: -473px;
			}
			&_5 {
				    top: 234px;

			}
			&_6 {
				top: -698px;
			}
			&_7 {
				top: -12px;

			}
			&_8 {
			top: 123px;

			}
			&_9 {
				top: 76px;


			}
			&_10 {
				top: 35px;
			}
		}

	}

	&_position_safari {
		.decor__img-box_pos {
			&_1 {
			}
			&_2 {
			}
			&_3 {
			}
			&_4 {

			}
			&_5 {

			}
			&_6 {

			}
			&_7 {

			}
			&_8 {

			}
			&_9 {

			}
			&_10 {

			}
		}

	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		&_transform {
			&_1 {
				transform: rotate(-20deg);
				width: 77%;
			}
			&_2 {
				transform: rotate(15deg);
			}
			&_3 {
				transform: rotate(54deg);
			}
			&_4 {
				transform: rotate(-2deg);
			}
		}
		&_blur {
			filter: blur(5px);
			z-index: 3;
		}
	}
}

.decor__z-indx_less {
	z-index: 8 !important;
}

.decor__z-indx_more {
	z-index: 11 !important;
}
