.description {
        flex-basis: 300px;
        flex-grow: 1;
    &_indent {
        padding-bottom: 30px;
        margin-bottom: 30px;
        @include tablets {
            border-bottom: 1px solid #f0f0f0;
        }
    }
    &__show-all-btn {
        display: none;
        margin-bottom: 40px;
        text-align: center;
        @include phones {
            display: block;
        }
    }
    &__title {
        font-size: 18px;
        color: #000000;
        margin-bottom: 25px;
        font-weight: 700;
    }
    &__desc {
        margin-bottom: 35px;
        position: relative;
        overflow: hidden;
        @include phones {
            max-height: 185px;
            margin-bottom: 20px;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70px;
            opacity: 1;
            display: none;
            transition: opacity .1s  ease;
            background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0.7) 100%);
            @include phones {
                display: block;
            }
        }
    }
    &.block-cut #{&}__desc {
        max-height: inherit;
        &:before {
            opacity: 0;
        }
    }
    &__desc,
    &__desc p {
        color: #000000;
        font-size: 16px;
        line-height: 1.5;
    }
    &__video-wrap {
        margin-bottom: -10px;
        iframe {
            max-width: 210px;
            max-height: 118px;
            width: 100%;
            margin-right: 20px;
            margin-bottom: 10px;
            @include phones {
                max-width: 100%;
                max-height: 160px;
            }

        }
    }
}