.documentation-item {
	display: flex;
	align-items: center;
	&__icon-box {
		margin-right: 10px;
	}
	&__text {
		font-size: 16px;
		color: #000000;
		text-decoration: underline;
		word-wrap: break-word;
		word-break: break-all;
	}
	&:hover &__text {
		text-decoration: none;
	}
}