.documentation {
	&_hide_laptop {
		@include laptop {
		display: none;
	}
	}
	&__title {
		font-size: 18px;
		color: #000000;
		margin-bottom: 25px;
		font-weight: 700;
	}
	&__list {
		margin: 0 -5px -25px;
		display: flex;
		flex-wrap: wrap;
		&_width {
			max-width: 540px;
		}
		@include laptop {
			max-width: 540px;
		}
	}
	&__item {
		margin: 0 5px 25px;
		width: calc(50% - 10px);
		display: flex;
		&_width {
			width: calc(33.333333% - 10px);
		}
		@include laptop {
			width: calc(33.333333% - 10px);
		}
		@include phones {
			width: calc(50% - 10px);;
		}
	}
}