.dropdown{
	display: inline-block;
	position: relative;
	z-index: 10;
	margin-right: 27px;
	&:after{
		content: '';
	}
	&__list{
		background-color: #fff;
		@extend %ul-default;
		white-space: nowrap;
	}
	&__item{
		&:hover{
			cursor: pointer;
		}
	}
	&__content{
		display: block;
		color: #000;
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		position: relative;
		svg{
			position: absolute;
			top: 34%;
			left: 18px;
			transform: rotate(270deg);
		}
	}
	&_open{
		margin: -10px 7px -10px -40px;
	}

	&_open #{&}__list{
		position: absolute;
		box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.03);
	}

	// если дропдаун не открыт - не показывать элементы кроме первого
	&:not(#{&}_open) #{&}__item:not(:first-child){
		display: none;
	}

	// стилизация первого элемента при закрытом дропдауне
	&:not(#{&}_open) #{&}__item:first-child #{&}__content{
		span{
			color: #3366cc;
		}
		svg{
			right: -23px;
			top: 18%;
			left: initial;
			transform: rotate(0);
			fill: #ccc;
		}
	}

	// когда навели на закрытый дропдаун
	&:not(#{&}_open) #{&}__item:first-child:hover{
		span{
			color: #333399;
			text-decoration: underline;
		}
		svg{
			fill: #999;;
		}
	}

	// общие стили для содержимого элементов, при открытии дропдауна
	&_open #{&}__item #{&}__content{
		padding: 15px 20px 15px 40px;
		svg{
			opacity: 0;
		}
	}

	// стилизация первого элемента при открытом дропдауне
	&_open #{&}__item:first-child #{&}__content{
		color: #3366cc;
		svg{
			fill: #3366cc;
			opacity: 1;
		}
	}

	//
	&_open #{&}__item:not(:last-child){
		border-bottom: 1px solid #ebebeb;
	}

	// ховер элементов дропдауна, кроме первого
	&__item:not(:first-child):hover #{&}__content{
		svg{
			opacity: 1;
		}
		span{
			text-decoration: underline;
		}
	}
}