$indent-x-input: 5px;
$indent-b-input: 15px;

.form-catch {
	&__wrap {
		padding: 35px 25px 90px 25px;
		background-color: #f0f0f0;
		background-repeat: no-repeat;
		background-position: 95% calc(100% + 95px);
		background-size: 225px auto;
		border-radius: 2px;
		@include laptop {
			//background-image: url('../img/calc.png');
			//background-position: 100% 100%;
			//padding-bottom: 55px;
			background-position: calc(100% + 60px) calc(100% + 60px);
		}
		@include phones {
			padding-bottom: 200px;
			background-position: calc(100% + 55px) calc(100% + 60px);
		}
	}
	&__content {
		//@include laptop {
		//    max-width: 380px;
		//    width: 100%;
		//}
		@include phones {
		    max-width: 380px;
		}
	}
	&__title {
		color: #000000;
		font-size: 24px;
		font-weight: 500;
		line-height: 1.1;
		margin-bottom: 10px;
		//@include laptop {
		//    margin-bottom: 40px;
		//}
		@include tablets {
			font-size: 20px;
		}
		//@include phones {
		//    margin-bottom: 25px;
		//}
	}
	&__title a {
		text-decoration: underline;
		color: $color_base;
		&:hover {
			text-decoration: none;
		}

	}
	&__desc {
		font-size: 16px;
		color: #000000;
		line-height: 1.1;
		margin-bottom: 30px;
		@include laptop {
			font-size: 14px;
		}
	}
	&__inner-wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 0 #{-$indent-x-input} #{-$indent-b-input + 20px};
		overflow: hidden;
		@include tablets {
			max-width: 400px;
		}
		@include phones {
			max-width: none;
			flex-basis: 100%;
		}
	}
	&__input-wrap {
		display: flex;
		flex-wrap: wrap;
		max-width: 600px;
		@include phones {
		    max-width: none;
			flex-basis: 100%;
		}
	}
	&__inner-input-wrap {
		flex-basis: 100px;
		flex-grow: 1;
		margin: 0 $indent-x-input $indent-b-input;
		@include phones {
			width: 100%;
			flex-basis: 100%;
		}

	}
	&__input {
		border: 1px solid #e0e0e0;
	}
	&__button-wrap {
		flex-basis: auto;
		margin: 0 $indent-x-input $indent-b-input;
		@include tablets {
			width: 100%;
			flex-basis: 100%;
			//display: flex;
			//justify-content: flex-end;
		}
	}
	&__btn {
		@include phones {
			width: 100%;
		}
	}
	&__checkbox {
		@include laptop {
			max-width: 400px;
		}
		@include phones {
			max-width: none;
		}
	}
	&__checkbox-name {
		line-height: 1.5;
	}
	&__checkbox-name,
	&__checkbox-link {
		color: #000;
		font-size: 14px;
	}
	&__checkbox-link {
		font-weight: 500;
		color: $color_base;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	input:checked ~ #{&}__checkbox-name,
	&__checkbox #{&}__checkbox-name:hover {
		color: #000;
	}
}

