.input{
	@include size(100%, 40px);
	border-radius: 2px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	@include ph(10px);
	&:focus,
	&:active,
	&:hover{
		outline: none;
		//box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
	}
	&_error{
		border-color: #ff0000;
	}
	// отключение стрелочек у type=number
	&[type=number]::-webkit-outer-spin-button,
	&[type=number]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}