.lang-switch {
	display: flex;
	flex-wrap: wrap;
	@include laptop {
		display: none;
	}
	&__wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

	}
	&__title {
		color: #3366cc;
		font-size: 16px;
		margin-right: 4px;
	}
	&__icon-box {
		margin-right: 10px;
	}
	&__inner-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		border-radius: 2px;
		padding: 5px 5px;
		transition: background-color .3s ease;
		cursor: pointer;
		z-index: 2;
		position: relative;
		&:hover {
			background-color: #ebebeb;
		}
	}
	&__arrow {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 6px solid #cccccc;
		pointer-events: none;
		margin-top: 4px;
		pointer-events: none;
	}
	&__dropdown {
		display: none;
	}
}