.main-banner-bg {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	overflow: hidden;
	transition: 2s top cubic-bezier(0.95, 0.05, 0.795, 0.035);
	z-index: 10;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 11;
		background-image: linear-gradient(to bottom, #3366cc 0%, rgba(51, 102, 204, 0) 100%);
		opacity: 0.6;

	}
	&__wrap {
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		background: #002279;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		transition: .5s ease-out;
		max-width: 3000px;
		margin: 0 auto;
	}
	text-align: center;
	&__bg {

		display: block;
		width: 100%;
		@include desktop {
			width: auto;
			height: 120vh;
		}
		@include laptop {
		    height: 130vh;
		}

	}
}

@media  screen and (max-height: 600px) {
	.main-banner-bg {
		&__bg {
		    height: 150vh;
		}
	}

}