.main-input {
	&__input {
		width: 100%;
		border-radius: 2px;
		border: 1px solid #3366cc;
		color: #000000;
		padding: 10px 15px ;
		font-size: 16px;
		@include  input-placeholder {
			color:  #cccccc;
		}
	}

}
