
.main-banner {
	transition: top 10s ease-out;
	&__wheel-tabs {
		display: block;
		@include laptop {
			display: none;
		}
	}
	&__select-tabs {
		display: none;
		@include laptop {
			display: block;
			padding-right: 60px;
		}
		@include tablets {
			padding-right: 0;
		}
	}
	//&__wheel-tabs, & .main-banner__item_structure_special {
	//display: block;
	//@include laptop {
	//	display: none;
	//}
	//}

	&.hide {
		opacity: 0;
	}

	&_pos {
		position: relative;
		z-index: 10;
	}
	&__list {
		margin: 0;
		//padding-top: 75px;
		height: 100%;
		transition: opacity .1s ease;
		@include laptop {
			//padding-top: 85px;
		}
		@include phones {
			//padding: 0;
		}
	}
	&__item {
		//height: 100% !important;
		padding-top: 150px;
		@include laptop {
			padding-top: 130px;
		}
		@include phones {
			padding-top: 52px;
		}

	}
	&__inner-wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		&_decoration {
			position: relative;
			&:before,
			&:after {
				position: absolute;
				content: "";
				display: none;
				bottom: -30px;
				width: 4px;
				height: 20px;
				background-color: #3399ff;
				transform: rotate(-50deg);
				opacity: 1;
				transition: all 0.3s ease;
				@include laptop {
					display: block;
				}
			}
			&:before {
				left: calc(50% - 6px);
			}
			&:after {
				transform: rotate(50deg);
				left: calc(50% + 7px);
			}
		}
		&_decoration.opacity-decor:before,
		&_decoration.opacity-decor:after {
			opacity: 0;
		}
	}
	&__inner-item {
		min-height: 405px;
		height: 100%;
		list-style-type: none;
		display: flex !important;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		outline: none;
		position: relative;
		@include phones {
			min-height: 480px;
			margin-bottom: 200px;
			display: block !important;
			//padding-top: 50px;
		}

	}
	&__column {
		position: relative;
		&_size_1 {
			display: flex;
			flex-wrap: wrap;
			width: 47%;
			align-items: center;
			justify-content: flex-end;
			//padding-right: 95px;
			padding-right: 9%;
			@include laptop {
				padding-right: 55px;
			}
			@include phones {
				justify-content: flex-start;
				margin-bottom: 25px;
			}

		}
		&_size_2 {
			width: 53%;
		}
		@include tablets {
			padding-right: 60px;
		}
		@include laptop {
			width: 50%;
		}
		@include phones {
			padding-right: 30px;
			width: 100%;
		}
		&_center {
			align-self: center;
		}
		&_position {
			@include laptop {
				width: 100%;
				justify-content: flex-start;
			}

		}

	}
	&__title {
		font-size: 100px;
		font-weight: 700;
		color: #ffffff;
		margin-bottom: 15px;
		line-height: 0.8;
		@extend %ff-play;
		&_text {
			font-size: 40px;
			line-height: 1.3;
			@include phones {
				margin-bottom: 0;
			}
		}
	}
	&__subtitle {
		font-size: 18px;
		font-weight: 400;
		color: #ffffff;
		line-height: 1.3;
		position: relative;
		@include laptop {
			font-size: 16px;
		}
		@include phones {
			padding-bottom: 50px;
		}
		&:before {
			content: '';
			display: none;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 80px;
			height: 4px;
			background-color: #3399ff;
			@include phones {
				display: block;
			}
		}
	}
	&__desc {
		font-size: 24px;
		font-weight: 400;
		padding-left: 45px;
		border-left: 4px solid #3399ff;
		color: #ffffff;
		line-height: 1.3;
		max-width: 560px;
		@include laptop {
			font-size: 18px;
			padding-left: 30px;
			max-width: 310px;
		}
		@include phones {
			border-left: none;
			padding-left: 0;
			font-size: 16px;
		}
		ul {
			padding-left: 0;
			li {
				list-style-type: none;
			}
			li + li {
				margin-top: 15px;
			}
		}
		&:first-child ul {
			@include laptop {
				margin-top: 0;
			}
		}
	}
	.slick-dots {
		position: absolute;
		//right: 5%;
		right: 0;
		top: 150px;
		margin: 0;
		& > li {
			width: 6px;
			height: 6px;
			background-color: #708dd7;
			margin-bottom: 20px;
			border-radius: 50%;
			list-style-type: none;
			cursor: pointer;
			&.slick-active {
				box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
				background-color: $color_white-op;
			}
			button {
				display: none;
			}
		}
	}
	.slick-prev {
		display: none !important;
	}
	.slick-next {
		position: absolute;
		right: 0;
		top: 272px;
		font-size: 0;
		border: none;
		width: 10px;
		height: 7px;
		background: transparent;
		outline: none;
		cursor: pointer;
	}
	.slick-next::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: -2px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #708dd7;
		pointer-events: none;
	}
	&__item_structure_special #{&}__column_size_1 {
		width: 35%;
		padding-right: 30px;
	}
	&__item_structure_special #{&}__column_size_2 {
		width: 65%;
	}
	&__item_structure_special .main-banner__desc {
		display: none;
		@include laptop {
			display: block;
		}
	}

	&__item_structure_special .wheel-tabs {
		display: block;
		@include laptop {
			display: none;
		}
	}

	&__item_structure_special #{&}__inner-wrapper {
		align-items: center;
		width: 100%;
	}

	&__item_structure_special {
		padding-top: 80px;
		@include laptop {
			padding-top: 90px;
		}
		@include phones {
			padding-top: 35px;
		}
		.main-banner__column {
			@include laptop {
				width: 100%;
				justify-content: flex-start;
			}
			.select-tabs__text {
				font-size: 16px;
			}
		}
		.main-banner__subtitle {
			display: none;
		}
		.main-banner__content {
			@include laptop {
				flex-grow: 1;
			}
		}
		.main-banner__desc {

			@include laptop {
				padding-left: 0;
				border-left: none;
				max-width: none;
				padding-right: 30px;
				max-width: 100%;
				border-left: 0;
				padding-top: 30px;
				position: relative;
			}
			@include phones {
				padding-right: 0;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			&:before {
				content: '';
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 80px;
				height: 4px;
				background-color: #3399ff;
				display: none;
				@include laptop {
					display: block;
				}
			}
		}
	}

}

@media screen and (max-height: 450px) {

	.main-banner {
		&__item {
			padding-top: 50px;
		}
		&__column_size_2 {
			padding-right: 30px;
		}
		&__item_structure_special {
			padding-top: 20px;
			.main-banner__title {
				font-size: 30px;
				line-height: 1.1;
			}
		}
	}
}

@media screen and (max-height: 380px) {
	.main-banner {
		&__desc {
			font-size: 16px;
		}
		&__item_structure_special {
			.select-tabs__text {
				font-size: 16px;
			}
		}
	}
}

@media screen and (max-height: 320px) {

}

@media screen and (max-width: 575px) and (orientation: landscape) {
	.main-banner {
		&__item {
			padding-top: 20px !important;
		}
		&__desc {
			border-left: 4px solid #3399ff;
			padding-left: 20px;
			font-size: 14px;
		}
		&__title {
			font-size: 80px;
			&_text {
				font-size: 36px;
			}
		}
		&__item {
			display: flex !important;
			min-height: inherit;
			margin-bottom: 0;
			padding-top: 0;
			&_structure_special {
				padding-top: 10px !important;
				.main-banner__desc {
					padding-top: 15px;
					border-left: none;
				}
				.main-banner__title {
					margin-bottom: 0;
					font-size: 22px;
				}
				.select-tabs__text {
					font-size: 14px !important;
				}

			}
		}
		&__column {
			width: 50%;
			&_size_1 {
				margin-bottom: 10px;
			}
		}
		.select-tabs__nav {
			margin-bottom: 5px;
		}

		&__subtitle:before {
			display: none;
		}
	}
}