.modifications {
    &__title {
        font-size: 18px;
        color: #000000;
        margin-bottom: 25px;
        font-weight: 700;
    }
    &__item:last-child {
        border-bottom: none;
        @include laptop {
            margin-bottom: 0;
        }
    }
    &__wrap {
        &_indent_minus {
            margin-bottom: -20px;
        }
    }
}