
.news {
	&_position {
		z-index: 9;
		position: relative;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px -10px;
		@include phones {
			margin: 0 0 -20px;
			justify-content: center;
		}
	}
	&__item {
		margin: 0 5px 10px;
		width: calc(33.33333% - 10px);
		@include tablets {
			width: calc(50% - 10px);
		}
		@include phones {
			margin: 0 0 20px;
			width: 100%;
			max-width: 408px;
		}
	}
}

.news-item {
	border-radius: 2px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	&__img-box {
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		max-height: 160px;
	}
	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	&__title {
		color: #000000;
		font-size: 20px;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 5px;
		flex-grow: 1;
		@include phones {
			font-size: 18px;
			margin-bottom: 20px;
		}
	}
	&__show-all {
		color: $color_base;
		font-size: 16px;
		font-weight: 400;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	&__content {
		padding: 15px 20px 15px;
		border-radius: 0 0 2px 2px;
		border-left: 1px solid #ebebeb;
		border-right: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;
		background: #ffffff;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		@include phones {
			padding-top: 20px;
		}
	}
	&__date {
		color: #999;
    	font-size: 16px;
		margin-bottom: 5px;
	}
}