.option{
	display: inline-block;
	cursor: pointer;
	user-select: none;
	margin: 0;
	&_disabled.option {
		cursor: auto;
		opacity: 0.6;
		position: relative;
		overflow: hidden;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: -6px;
			width: 128%;
			height: 2px;
			background-color:  rgb(153, 153, 153);
			opacity: 0.6;
			transform: rotate(-40deg);
		}
	}
	&__name{
		display: block;
		background-color: $color_mute;
		color: #999;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		padding: 5px 10px;
		border-radius: 2px;
	}
	&__input{
		display: none;
	}
	&__input:checked ~ #{&}__name{
		background-color: $color_base;
		color: #fff;
	}
	&__input:disabled ~ #{&}__name{
		opacity: 0.4;
	}
	&_wide #{&}__name{
		padding: 5px 13px;
	}
}