.order {
    border-radius: 2px;
    border: 1px solid #3366cc;
    &_indent {
        margin-bottom: 40px;
        @include laptop {
            margin-bottom: 0;
        }
    }
    &__btn_added {
        background-color: #66cc33;
        cursor: auto;
        &:hover {
            background-color: #66cc33;
            border-color: #66cc33;
            color: #ffffff;

        }
    }
    @include phones {
        border: none;
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 30px;
        align-items: flex-start;
        @include phones {
            padding: 0;
        }
    }
    &__column {
        width: 100%;
        &_position_1 {
            order: 1;
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: 40px;
            margin-bottom: 30px;
            @include phones {
                width: 50%;
                align-items: flex-end;
                height: 25px;

            }
        }
        &_position_2 {
            order: 2;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
            width: 30%;
            margin-bottom: 30px;
            @include phones {
                order: 3;
                margin-right: 10px;
                margin-bottom: 10px;
                justify-content: flex-start;
                width: auto;
            }
        }
        &_position_3 {
            order: 3;
            @include phones {
                flex-basis: 50px;
                flex-grow: 1;
            }
        }
        &_position_4 {
            order: 4;
            margin-bottom: 28px;
            @include phones {
                margin-bottom: 0;
            }
        }
        &_position_5 {
            order: 5;
            padding-bottom: 10px;
            border-bottom: 1px solid #f0f0f0;
            margin-bottom: 30px;
            @include phones {
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                justify-content: flex-end;
                order: 2;
                padding-bottom: 0;
                border-bottom: none;
                height: 25px;
            }
        }
        &_position_6 {
            order: 6;
            @include phones {
                display: none;
            }
        }
        &__btn-actions_indent {
            margin-bottom: 15px;
        }
    }
    &__btn-main_indent {
        margin-bottom: 10px;
    }
    &__price {
        position: relative;
    }
    &__price-old {
        position: absolute;
        top: -23px;;
        left: 0;
    }
}