.pagination {
	@extend %ul-default;
	display: inline-flex;
	&__link {
		display: block;
		@include size(40px);
		line-height: 40px;
		text-align: center;
		color: #999;
		font-size: 16px;
		font-weight: 400;
		border-radius: 2px;
		background-color: #f0f0f0;
		transition: all 0.3s ease;
		&_arrow {
			width: auto;
			@include ph(15px);
			& > *:first-child {
				margin-right: 22px;
			}
			svg {
				fill: #e0e0e0;
			}
		}
	}
	&__item {
		@include mh(2.5px);
		&_arrow {
			@include mh(17.5px);
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&__item_active #{&}__link,
	&__link:hover {
		background-color: #3366cc;
		color: #fff;
		svg {
			fill: #ffffff;
		}
	}
}

@media(max-width: 600px) {
	.pagination {
		&__link {
			&_arrow {
				padding: 0;
				@include size(40px);
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					fill: #cccccc;
				}
				span {
					display: none;
				}
				& > *:first-child {
					margin: 0;
				}
			}
		}
	}
}












