.parameter {
    &_indent {
        margin-bottom: 40px;
    }
    &__wrapper {
        position: relative;
        overflow: hidden;
        min-height: 180px;
        @include laptop {
            max-height: inherit;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70px;
            opacity: 0;
            transition: opacity .1s  ease;
            background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0.7) 100%);
        }
    }
    &.block-cut #{&}__wrapper {
        @include laptop {
            max-height: 200px;
        }
        &:before {
            opacity: 1;
        }
    }
    &__show-all-btn {
        text-align: center;
        margin-top: 30px;
    }
    &__title {
        font-size: 18px;
        color: #000000;
        margin-bottom: 25px;
        font-weight: 700;
    }
    &__wrap {
        margin: 0 0 -30px;
        padding: 0;
    }
    //&__item {
    //    list-style-type: none;
    //    padding-left: 0;
    //    margin-bottom: 30px;
    //}
    //&__list {
    //    margin: 0;
    //    padding: 0;
    //}
    &__item {
        list-style-type: none;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 8px;
    }
    &__value {
        display: inline-block;
        padding-bottom: 5px;
        padding-left: 10px;
        margin-bottom: -10px;
        font-size: 16px;
        color: #000000;
        background-color: #ffff;
        &_color {
            color: #999999;
        }
        &_indent {
            padding-left: 0;
            padding-right: 10px;
        }
    }
}