.play-icon {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background-image: linear-gradient(to bottom, #708dd7 0%, #3366cc 100%);
	position: relative;
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -8px;
		margin-left: -4px;
		width: 0;
		height: 0;
		border-left: 12px solid #fff;
		border-bottom: 8px solid transparent;
		border-top: 8px solid transparent;
		z-index: 2;
		pointer-events: none;
	}
}