.price {
    &__old {
        font-size: 20px;
        color: #999999;
        text-decoration: line-through;
        margin-bottom: 10px;
    }
    &__cuttent {
        font-size: 28px;
        color: #000000;
        font-weight: 500;
    }
}
