.range-slider{
	&__input-wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__input{
		width: 46%;
		color: #777;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		border-radius: 2px;

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
		&:hover,
		&:focus,
		&:active{
			border-color: #aaa;
		}
	}
}