.related-product {
    &__list {
        padding: 0 8px;
        max-width: 1056px;
        width: 100%;
        margin: 0 auto;
        @include tablets {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__item {
        border: 1px solid #e0e0e0;
        border-radius: 2px 0 0 2px;
        padding: 20px;
        height: auto;
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: column;
        *:focus {
            outline: none;
        }
        @include laptop {
            padding: 25px 10px 10px 10px;
        }
        @include tablets {
            width: 50%;
        }
        &:hover {
           border-top: 1px solid #e0e0e0;
           border-bottom: 1px solid #e0e0e0;
        }
    }
    .slick-track {
        display: flex !important;
    }
    .slick {
        &-initialized .slick-slide {
            margin-right: -1px;
        }
        &-list {
            padding-right: 5px;
        }
        &-arrow {
            position: absolute;
            top: 50%;
            left: -60px;
            font-size: 0;
            width: 0;
            height: 0;
            border-right: none;
            border-left: 10px solid #999999;
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
            background-color: transparent;
            outline: none;
            padding: 0;
            cursor: pointer;
            transition: border-color .1s ease;
        }

        &-disabled {
            border-left-color: #ebebeb;
            cursor: auto;
        }
        &-next {
            left: auto;
            right: -60px;
        }
        &-prev {
            transform: rotate(180deg);
        }
    }
}