.select-tabs {
	select,
	.selectric {
		width: 100%;
		height: 42px;
		background: transparent;
		border-radius: 2px;
		padding: 10px 12px;
		border: 1px solid $color_white-op;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.label {
			color: #fff;
			font-size: 16px;
			margin: 0;
			line-height: inherit;
			height: auto;
		}

		.button {
			position: absolute;
			top: 50%;
			right: 15px;
			width: 0;
			height: 0;
			margin-top: -2.5px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #fff;
			z-index: 2;
			pointer-events: none;
			background-color: transparent;
			&:after {
				display: none;
			}
		}
	}

	.selectric-open  .button {

		transform: rotate(180deg);
	}
	.selectric-items {
		border: 1px solid $color_white-op;
		width: 100% !important;
		background: transparent;
		ul {
			padding: 0 10px;
			margin: 0;
			li {
				background: transparent;
				color: $color_white-op;
				padding: 10px 2px;
				font-size: 16px;
				&:not(:last-child) {
					border-bottom: 1px solid $color_white-op;
				}
				&.selected {
					color: #fff;
					position: relative;
					&:after {
						content: '';
						display: block;
						position: absolute;
						right: 5px;
						top: 50%;
						width: 14px;
						height: 12px;
						margin-top: -5px;
						background: url("../img/check.png") no-repeat;
					}
				}
			}
		}
	}
	&__nav {
		margin-bottom: 25px;
	}
	&__item:not(.active) {
		display: none;
	}
	&__text {
		color: #ffffff;
		font-size: 18px;
	}

}