.show-all-btn {
    &__text {
        font-size: 16px;
        color: $color_base;
        position: relative;
        padding-left: 23px;
        cursor: pointer;
        &::before {
        	content: '';
        	display: block;
        	position: absolute;
        	top: 50%;
            margin-top: - 3.5px;
        	left: 0;
        	width: 0;
        	height: 0;
        	border-left: 5px solid transparent;
        	border-right: 5px solid transparent;
        	border-top: 7px solid $color_base;
        	z-index: 2;
        	pointer-events: none;
        }
    }
    &.active #{&}__text:before {
        transform: rotate(180deg);
    }
}