.slider-features {
	@include laptop {
		display: none;
	}
	&__title {
		display: none;
		font-size: 18px;
		color: #000000;
		margin-bottom: 25px;
		font-weight: 700;
		@include laptop {
			display: block;
		}
	}
	&_indent {
		margin-bottom: 30px;
		@include laptop {
			margin-bottom: 0;
		}
	}
	&__list {
		position: relative;
		margin-bottom: -10px;
		display: flex;
		flex-wrap: wrap;
		margin: 0 -4px;
		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 60px;
			height: 100%;
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
			z-index: 2;
			opacity: 0;
			pointer-events: none;
		}
		&:before {
			right: auto;
			left: 0;
			transform: scale(-1, 1);
		}
		&.show-left-shadow:before {
			opacity: 1;
		}
		&.show-right-shadow:after {
			opacity: 1;
		}
	}
	&__item {
		margin: 0 4px;
		margin-bottom: 10px;
		.svg-icon {
			fill: $color_base;
		}

	}
	//&__item.slick-active:last-child {
	//	margin-right: 0;
	//}
	&__item:last-child {
		margin-right: 0;
		}
	.slick {
		&-arrow {
			position: absolute;
			top: 50%;
			right: 5px;
			border-radius: 50%;
			margin-top: -20px;
			width: 30px;
			height: 30px;
			background-color: #3366cc;;
			transition: .1s ease;
			font-size: 0;
			cursor: pointer;
			z-index: 4;
			border: none;
			opacity: 0;
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -5px;
				margin-left: -1px;
				width: 0;
				height: 0;
				border-left: 6px solid #fff;
				border-bottom: 5px solid transparent;
				border-top: 5px solid transparent;
				z-index: 5;
				pointer-events: none;
			}
			&:focus {
				outline: none;
			}
			&:hover {
				opacity: 1;
				background-color: #333399;
			}
		}
		&-prev {
			transform: scale(-1, 1);
			right: auto;
			left: 5px;
			&:before {
				margin-left: -3px;
			}
		}
		&-next {
			transform: scale(1, 1);
		}
		&-prev.slick-disabled,
		&-next.slick-disabled {
			display: none !important;
		}
	}
	&:hover .slick-arrow {
		opacity: 1;
	}
}

