.slider-features-item {
	border-radius: 2px;
	background-color: #f0f0f0;
	padding: 4px 7px;
	width: 50px;
	height: 100px;
	overflow: hidden;
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	svg {
		fill: $color_base;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -21px;
		width: 42px;
		height: 1px;
		background-color: #e0e0e0;
	}
	&:focus {
		outline: none;
	}
}