.spoiler{
	border-bottom: 1px solid #f0f0f0;
	&__click{
		position: relative;
		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 26px;
			right: 3px;
			border: 6px solid transparent;
			border-top: 6px solid #cccccc;
		}
		&:hover{
			cursor: pointer;
		}
	}
	&__name{
		display: inline-flex;
		align-items: center;
		padding: 18px 0;
		color: #999;
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
	}
	&__content{
		@include pv(9px, 20px);
	}
	&_selected #{&}__name{
		&:after{
			content: '';
			display: inline-block;
			@include size(6px);
			border-radius: 50%;
			background-color: $color_base;
			margin-left: 15px;
		}
	}
}