.status {
    display: flex;
    align-items: center;
    &__text {
        color: $color_base;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
    }
    &_not-available #{&}__text {
        color: #b5b5b5;
    }

    &__indicator {
        display: block;
        margin-right: 10px;
        @include size(10px);
        border-radius: 50%;
    }
    &_in-stock #{&}__indicator {
        background-color: #66cc33;
    }
    &_for-order #{&}__indicator {
        background-color: #ff3333;
    }
    &_not-available #{&}__indicator {
        background-color: #b5b5b5;
    }
}