.stock {
    position: relative;
    &__wrap {
       padding: 15px 55px 25px 25px;
        background-color: #f5f5ea;
        @include tablets {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__column {
        @include tablets {
            width: 50%;
        }
        @include phones {
            width: 100%;
        }
    }
    &_size {
        margin-left: 60px;
        flex-basis: 290px;
        margin-bottom: 30px;
        @include tablets {
            flex-basis: 100%;
            margin-left: 0;
        }
    }
    &__icon-box {
        padding-right: 15px;
    }
    &__title {
        color: $color_base;
        font-size: 52px;
        line-height: .4;
    }
    &__title {
        display: flex;
        margin-bottom: 30px;
        align-items: center;
        padding-right: 15px;
    }
    &__desc {
        font-size: 20px;
        font-weight: 500;
        color: #777777;
        margin-bottom: 80px;
        line-height: 1.2;
        @include tablets {
            margin-bottom: 40px;
        }
        @include phones {
            margin-bottom: 130px;
        }
    }
    &__desc a {
        color: #777777;
        text-decoration: underline;
    }
    &__desc a:hover {
        text-decoration: none;
    }
    &__note {
        font-size: 14px;
        color: #999999;
    }
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 10px;
        height: 10px;
        cursor: pointer;
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &__close:before, #{&}__close:after {
        position: absolute;
        left: 3px;
        content: ' ';
        height: 10px;
        width: 3px;
        background-color: #999999;
        transition: all .3s ease;
        pointer-events: none;
    }
    &__close:hover {
        opacity: 0.6;
    }
}