.switcher{
	position: relative;
	display: inline-block;
	@include size(32px, 19px);
	&__input{
		opacity: 0;
		width: 0;
		height: 0;
		z-index: -1;
		position: relative;
	}
	&__slider{
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transition: .4s;
		border-radius: 10px;
		background-color: #cccccc;
		&:before{
			content: "";
			@include size(15px);
			position: absolute;
			left: 2px;
			bottom: 2px;
			border-radius: 50%;
			background-color: #fff;
			transition: .4s;
		}
	}
	&__input:checked + #{&}__slider{
		background-color: $color_base;
		&:before{
			transform: translateX(13px);
		}
	}
}