$indent_item_tabs: 30px;

.tabs {
	&_indent {
		margin-bottom: 270px;
		@include laptop {
			padding-bottom: 30px;
			margin-bottom: 50px;
			border-bottom: 1px solid #f0f0f0;

		}
	}
	&_position {
		position: relative;
		z-index: 5;
		@include laptop {
			z-index: 1;
		}
	}
	&__nav {
		margin-bottom: 55px;
		@include laptop {
			margin-bottom: 45px;
		}
	}
	&__nav-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		padding: 0;
		overflow: hidden;
		margin: 0 -7px -10px;
	}
	&__nav-item {
		list-style-type: none;
		padding-left: 0;
		margin: 0 7px 10px;
		@include laptop {
			width: 100%;
			text-align: center;
		}
	}
	&__nav-link {
		color: #000000;
		font-size: 14px;
		font-weight: 500;
		display: inline-block;
		text-decoration: underline;
		position: relative;
		cursor: pointer;
		&:hover {
			text-decoration: none;
		}
	}
	&__nav-item.active #{&}__nav-link {
		color: $color_base;
		text-decoration: none;
		&:before {
			content: '';
			display: none;
			position: absolute;
			top: 2px;
			left: -15px;
			width: 0;
			height: 0;
			border-left: 5px solid #cccccc;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			z-index: 10;
			pointer-events: none;
			transition: 0.3s ease trasform;
			@include laptop {
				display: block;
			}
		}
	}
	&__wrap {
		border-radius: 2px;
		background-image: linear-gradient(to right, #3366cc 0%, #333399 100%);
		padding: 25px 25px 35px;
		@include laptop {
			padding: 0 20px;
		}
		@include phones {

		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 #{-$indent_item_tabs};
		counter-reset: tabsCounter;
	}
	&__item {
		width: calc(33.33333% - #{$indent_item_tabs * 2});
		margin: 0 $indent_item_tabs;
		@include laptop {
			width: 100%;
		}
	}
	&__item.active .tab-item__title:after {
		transform: rotate(180deg);
	}
	&__item:last-child .tab-item__title {
		border-bottom: none;
	}
	&__item.active .tab-item__title {
		border-bottom: none;
		transition: 9s ease;
	}

	&__tab {
		display: none;
		animation: {
			name: content;
			direction: normal;
			duration: 0.3s;
			timing-function: ease-in-out;
			iteration-count: 1;
		  }
	}
	&__tab.active {
		display: block;
	}
}

.tab-item {
	&__title {
		color: #ffffff;
		font-size: 22px;
		font-weight: 500;
		margin-bottom: 10px;
		line-height: 1.4;
		position: relative;
		display: flex;
		align-items: center;
		min-height: 60px;
		@include laptop {
			cursor: pointer;
			font-size: 20px;
			margin-bottom: 0;
		}

		&:after {
			content: '';
			display: none;
			position: absolute;
			top: 50%;
			right: 0;
			width: 0;
			height: 0;
			margin-top: -3px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #cccccc;
			z-index: 10;
			pointer-events: none;
			transition: 0.3s ease trasform;
			@include laptop {
				display: block;
			}
		}
		&:before {
			content: counter(tabsCounter);
			counter-increment: tabsCounter;
			display: block;
			width: 100%;
			max-width: 40px;
			height: 50px;
			font-size: 60px;
			font-weight: 500;
			margin-right: 10px;
			color: #708dd7;
			line-height: 50px;
			@include laptop {
				top: 30px;
				font-size: 40px;
				max-width: 30px;
				height: 30px;
				line-height: 30px;
			}
		}
	}
	&__inner-title-wrap {
		@include laptop {
		    padding-bottom: 27px;
			padding-right: 25px;
			padding-top: 27px;
			width: 100%;
		}
		@include phones {
			padding-top: 20px;
    		padding-bottom: 20px;
			line-height: 1.3;
		}
	}
	&:not(:last-child) #{&}__inner-title-wrap {
		@include laptop {
		    border-bottom: 1px solid $color_white-op;
		}
	}
	&__desc {
		font-size: 16px;
		color: $color_white-op;
		line-height: 1.4;
		padding-left: 50px;
		@include laptop {
			margin: 25px 0;
		}
	}
}

 @keyframes content {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }