.tag-remove {
    display: inline-block;
    cursor: default;
    background-color: $color_mute;
    color: #777;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 5px 14px 5px 16px;
    border-radius: 2px;
        svg {
            fill: #ccc;
            margin-left: 10px;
            &:hover {
                cursor: pointer;
                fill: #000;
            }
        }
}
