.view-box {
    display: flex;
    &__svg {
        fill: #e5e5e5;
        &_grid {
            @include size(16px, 16px);
        }
        &_list {
            @include size(20px, 16px);
        }
    }
    &__mode {
        border: none;
        background-color: transparent;
        padding: 0;
        &:not(:last-child) {
            margin-right: 15px;
        }
        &:not(#{&}_active) {
            &:hover {
                cursor: pointer;
            }
        }
        &:focus,
        &:active {
            outline: none;
        }
    }
    &__mode_active #{&}__svg,
    &__mode:hover #{&}__svg {
        fill: $color_base;
    }
}