.wheel-tabs {
	&__wrap {
		display: flex;
		flex-wrap: wrap;
	}
	&__column {
		width: 100%;
		flex-basis: 100px;
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__column_size_1 {
		padding-right: 80px;
    	max-width: 470px;
	}
	&__column_size_2 {
		max-width: 255px;
	}
	&__nav-list {
		margin: 0;
		padding: 0;
		&_decoration {
		padding-left: 40px;
		position: relative;
		}
		&_decoration:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 4px;
		height: 100%;
		background-color: #3399ff;
		}
	}
	&__nav-item {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 10px;

	}
	&__nav-link {
		opacity: 0.5;
		color: #adbde6;
		font-size: 26px;
		display: block;
		outline: none;
		transition: all .3s ease;
		cursor: pointer;
		&:hover {
			font-weight: 500;
			opacity: 1;
			color: #ffffff;
		}
	}
	&__nav-item.active {
		transition: all .8s ease;
	}
	&__nav-item.active #{&}__nav-link {
		transition: all .3s ease;
		opacity: 1;
		border-bottom: 1px solid #3399ff;
		color: #ffffff;
	}
	&__nav-item.active  + #{&}__nav-item #{&}__nav-link  {
		transition: all .3s ease;
		opacity: 0.9;
	}
	&__nav-item.pre-active #{&}__nav-link  {
		transition: all .3s ease;
		opacity: 0.9;
	}

	&__item  {
		display: none;
	}
	&__item.active  {
		display: block;
	}
}

.wheel-tab-item {
	&__desc {
	color: #ffffff;
	font-size: 18px;
	line-height: 1.7;
	}
}

@media screen and (max-width: 1143px) {
	//.wheel-tabs__nav-link {
	//	font-size: 22px;
	//}
}