*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

html{
	max-width: 100vw;
	overflow-x: hidden;
	min-height: 100%;
}

body{
	overflow: hidden;
	position: relative;
	line-height: 1.5;

}

.container{
	width: 100%;
	max-width: 1280px;
	@include mh(auto);
	@include ph(15px);
	@media (max-width: 400px){
		@include ph(20px);
	}
}

.flex-br{
	display: block;
	width: 100vw;
}

.affix{
	position: fixed !important;
	top: 0;
	z-index: 50 !important;
}

html.overflow-hidden{
	&,
	body{
		overflow: hidden;
	}
}


//прибивка футера к низу
body {
	display: flex;
	flex-direction: column;
}
.main-wrapper {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}


.overlay-active .overlay,
.overley-second {
	display: block;
	@include size(100vw, 100vh);
	background-color: rgba(0, 0, 0, .2);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 55;
}

.hide {
	display: none;
}

.opacity {
	opacity: 0;
}

.sub-title {
	@extend %ff-play;
	text-align: center;
	padding: 0;
	font-size: 44px;
	line-height: 1.2;
	color: #000000;
	margin: 0 0 70px;
	font-weight: 700;
	@include phones {
		font-size: 30px;
		margin-bottom: 40px;
	}
}

.sub-title_indent-b_min {
	margin-bottom: 25px;
	@include phones {
		margin-bottom: 40px;
	}
}

.sub-title_indent-t_min {
	margin-top: 100px;
	@include phones {
		margin-top: 45px;
	}
}

.sub-title_indent-t_big {
	margin-top: 150px;
	@include phones {
		margin-top: 70px;
	}
}

.pre-content{
	&_indent_min.pre-content {
		margin-bottom: 80px;
		@include laptop {
			margin-bottom: 30px;
		}
	}
	&_catalog-root{
		@include mv(63px, 85px);
		@include laptop {
		    @include mv(35px, 55px);
		}
		@include phones {
			margin-top: 20px;
		}
	}
	&__title{
		color: #000;
		@extend %ff-play;
		font-size: 54px;
		font-weight: 700;
		line-height: 55px;
		margin: 0;
		@include laptop {
			font-size: 30px;
			line-height: 1.1;
		}
		@include phones {
		    font-size: 30px;
		}
		&_font-size_min {
			font-size: 44px;
			@include laptop {
				font-size: 26px;
			}
		}
	}
	&__line{
		display: flex;
		justify-content: space-between;
		align-items: center;
		&_top{
		}
		&_bottom{
			margin-top: 10px;
			@include laptop {
				margin-top: 5px;
			}
		}
	}
	&__btn{
		&_print{
			display: flex;
			align-items: center;
			@include laptop {
			    display: none;
			}
			span{
				color: #adbde6;
				font-size: 14px;
				font-weight: 400;
				text-decoration: underline;
				margin-right: 9px;
			}
		}
	}
}



























