// в этом файле исключительно только размеры иконок и больше никакого оформления

// ! Ничего кроме размеров в заданном формате!!!
// ! Ничего кроме размеров в заданном формате!!!
// ! Ничего кроме размеров в заданном формате!!!

.svg-icon {
	&_pagination {
		@include size(10px);
	}
	&_dropdown {
		@include size(10px);
	}
	&_remove {
		@include size(8px);
	}
	&_header-contact {
		@include size(16px);
	}
	&_zoom {
		@include size(24px);
	}
	&_enter {
		@include size(20px, 23px);
	}
	&_enter2 {
		@include size(17px, 19px);
	}
	&_menu-arrow {
		@include size(8px);
	}
	&_menu {
		@include size(13px, 11px);
	}
	&_phone2 {
		@include size(13px);
	}
	&_close {
		@include size(11px);
	}
	&_label-normal {
		@include size(44px);
	}
	&_label_size_min {
		@include size(30px);
	}
	&_favorites {
		@include size(26px, 24px);
	}
	&_compare {
		@include size(19px, 22px);
	}
	&_checkbox-plus {
		@include size(7px);
	}
	&_filter {
		@include size(20px, 17px);
	}
	&_filter-close {
		@include size(11px);
	}
	&_dropdown-check {
		@include size(12px, 9px);
	}
	&_mail {
		@include size(18px, 13px);
	}
	&_location {
		@include size(14px, 20px);
	}
	&_phone {
		@include size(16px);
	}
	&_light {
		@include size(40px, 43px);
	}
	&_home {
		@include size(45px, 35px);
	}
	&_analog {
		@include size(30px);
	}
	&_logo {
		@include size(150px, 30px);
	}
	&_log_white {
		@include size(150px, 30px);
	}
	&_zipper {
		@include size(26px, 62px);
	}
	&_hours {
		@include size(36px, 82px);
	}
	&_degree {
		@include size(34px, 84px);
	}
	&_puls {
		@include size(42px, 80px);
	}
	&_guarantee {
		@include size(36px, 80px);
	}
	&_ra {
		@include size(34px, 69px);
	}
	&_document {
		@include size(19px, 24px);
	}
	&_flag-rus {
		@include size(20px, 15px);
	}
	&_user {
		@include size(24px, 23px);
	}
	&_list {
		@include size(26px, 21px);
	}
	&_pencil {
		@include size(16px);
	}
	&_repeat {
		@include size(16px, 18px);
	}
	&_plus {
		@include size(14px);
	}
	&_triangle_2 {
		@include size(10px, 7px);
	}
	&_close_2{
		@include size(10px);
	}
	&_minus{
		@include size(10px, 2px);
	}
	&_moisture {
		@include size(39px, 75px);
	}
	&_spray {
		@include size(37px, 72px);
	}
	&_volt {
		@include size(33px, 82px);
	}
}









