//готовое

    button,
    input,
    optgroup,
    select,
    textarea {
        @extend %ff-fira;
    }

// в работе

.dropdown-mob{
	width: 100%;
	display: inline-block;
	position: relative;
	z-index: 10;
	font-size: 16px;
	&__current{
		position: relative;
		display: block;
		width: 100%;
		line-height: 1.2;
		&:after{
			content: '';
			position: absolute;
			top: 7px;
			right: 3px;
			border: 5px solid transparent;
			border-top: 5px solid #ccc;
		}
		span{
			margin-left: 5px;
			color: $color_base;
			&:before{
				content: ' ';
			}
		}
		@media (max-width: 330px){
			span{
				display: inline-block;
				margin-bottom: -4px;
				width: 150px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
	&__list{
		display: none;
		background-color: #fff;
		@extend %ul-default;
		white-space: nowrap;
		width: 100%;
	}
	&__item{
		padding-left: 10px;
		&:hover{
			cursor: pointer;
		}
		&:not(:last-child){
			border-bottom: 1px solid #f0f0f0;
		}
	}
	&__content{
		display: block;
		@include pv(11px);
		color: #999;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		position: relative;
		svg{
			position: absolute;
			top: 34%;
			right: 0;
			fill: $color_base;
			opacity: 0;
		}
	}
	&_open{
		z-index: 20;
	}
	&_open #{&}__current{
		&:after{
			transform: rotate(180deg);
			top: 2px;
		}
	}
	&_open #{&}__list{
		display: block;
		position: absolute;
		top: calc(100% + 10px);
		left: 0;
		z-index: 20;
		//box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.03);
	}
	&__item_active #{&}__content{
		color: $color_base;
		svg{
			opacity: 1;
		}
	}
}


.textarea{
	@extend .input;
	@include pv(12px);
	height: auto;
	&_resize-off,
	&_resize-none{
		resize: none;
	}
}


// черновики
.btn{
	color: #777;
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	background-color: blue;
	border: none;
	color: #fff;
	font-weight: 300;
	padding: 10px 23px;
	user-select: none;
	outline: none !important;
	text-decoration: none;
	@extend %ts-bg;
	&_full-width{
		display: block;
		width: 100%;
	}

	&:focus,
	&:active{
		// тут наверное нужно бордер чуть темнее сделать
	}
	&:hover{
		// а сюда добавить тень малозаметную
		cursor: pointer;
	}
	&_size_sm{
		//меньше чем базовая
	}
	&_size_xl{
		//больше чем базовая
	}
}

.btn_transparent {
	background-color: transparent;
	border-radius: 2px;
	border: 1px solid #708dd7;
	padding: 12px 20px;
	font-weight: 400;
}

.btn.btn_transparent:hover {
	background-color: #fff;
	color: #3366cc;
}



/*.checkbox{
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 16px;
	cursor: pointer;
	user-select: none;
	&__name{
		color: #33444e;
		font-size: 16px;
		font-weight: 400;
		line-height: 17px;
		position: relative;
		top: 3px;
		word-break: break-word;
	}
	input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	&__view{
		@include size(21px);
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid #ddd;
		background-color: #fff;
		&:after{
			content: "";
			display: block;
			@include size(4px, 9px);
			position: absolute;
			left: 7px;
			top: 3px;
			border: solid #fff;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}
	input:checked ~ &__view{
		border-color: red;
		background-color: blue;
	}
}*/


.radio{
	display: block;
	position: relative;
	margin-bottom: 16px;
	cursor: pointer;
	user-select: none;
	&__name{
		color: #33444e;
		font-size: 16px;
		font-weight: 400;
		line-height: 17px;
		position: relative;
		top: -2px;
	}
	&__input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	&__view{
		display: inline-block;
		@include size(14px);
		margin-right: 14px;
		border-radius: 50%;
		position: relative;
		background-color: red;
	}

	&__input:checked ~ #{&}__view{
		&:after{
			content: '';
			display: block;
			@include size(20px);
			border: 2px solid red;
			border-radius: 50%;
			position: absolute;
			top: -5px;
			left: -5px;
		}
	}
}



















