//-
	Если спойлер закрыт то отсуствует модификатор .spoiler_opened
	и у элемента .js--spoiler-content добавляется (style="display: none")


form.filter(action="#")
	.filter__header
		span.filter__title Фильтровать
		button.filter__close.js--toggle-filter
			+icon('close', 'svg-icon_filter-close')
	.filter__container
		.filter__item
			span.filter__name Цена, ₽
			.filter__price
				.range-slider
					.range-slider__input-wrapper
						input.input.range-slider__input.js--range-from(type="number")
						input.input.range-slider__input.js--range-to(type="number")
					input.js--range-slider(
						type = "text",
						data-min = "2344",
						data-max = "39900",
						data-from = "5100",
						data-to = "25600",
					)


		.filter__selector-area
			.filter__item.filter__item_line.filter__item_selector
				span.filter__name Диммируется
				label.filter__content.switcher
					input.switcher__input(type="checkbox")
					span.switcher__slider


			.filter__item.filter__item_line.filter__item_selector
				span.filter__name Филамент
				label.filter__content.switcher
					input.switcher__input(type="checkbox", checked)
					span.switcher__slider

		.filter__item
			.spoiler.spoiler_selected
				.spoiler__click.js--spoiler-click
					span.spoiler__name Цоколь
				.spoiler__content.js--spoiler-content(style="display: none")
					.choice-area
						label.choice-area__item.checkbox
							input(type="checkbox", name="#")
							span.checkbox__name E14
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="checkbox", name="#")
							span.checkbox__name E27
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="checkbox", name="#", checked)
							span.checkbox__name GX53
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')

		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Мощность
				.spoiler__content.js--spoiler-content(style="display: none")
					.choice-area
						label.choice-area__item.checkbox
							input(type="checkbox", name="#")
							span.checkbox__name 12
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="checkbox", name="#")
							span.checkbox__name 17
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="checkbox", name="#")
							span.checkbox__name 22
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')

		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Тип лампы
				.spoiler__content.js--spoiler-content(style="display: none")
					.choice-area
						label.choice-area__item.checkbox
							input(type="checkbox", name="#")
							span.checkbox__name Типовая
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="checkbox", name="#")
							span.checkbox__name Нетиповая
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')


		.filter__item
			.spoiler.spoiler_selected.spoiler_opened
				.spoiler__click.js--spoiler-click
					span.spoiler__name Цветовая температура, К
				.spoiler__content.js--spoiler-content
					.choice-area
						label.choice-area__item.checkbox
							input(type="checkbox", name="#", checked)
							span.checkbox__name 2700 (4)
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="checkbox", name="#")
							span.checkbox__name 4000 (1)
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="checkbox", name="#")
							span.checkbox__name 6400 (19)
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')



		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Напряжение, Вольт
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test
		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Вид лампы
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test
		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Цвет
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test
		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Цвет свечения
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test
		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Цвет колбы
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test
		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Коэфф. пульсации, %
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test

		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Индекс цветопередачи, Ra
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test

		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Модель
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test

		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Коэфф. пульсации, %
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test

		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Материал колбы
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test

		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Аналог ЛОН, Вт
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test

		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Угол рассеивания
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test

		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Производитель
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test
		.filter__item
			.spoiler.spoiler_opened
				.spoiler__click.js--spoiler-click
					span.spoiler__name Длина изделия, мм
				.spoiler__content.js--spoiler-content
					.range-slider
						.range-slider__input-wrapper
							input.input.range-slider__input.js--range-from(type="number")
							input.input.range-slider__input.js--range-to(type="number")
						input.js--range-slider(
							type = "text",
							data-min = "2344",
							data-max = "39900",
							data-from = "5100",
							data-to = "25600",
						)
		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Ширина изделия, мм
				.spoiler__content.js--spoiler-content(style="display: none")
					.range-slider
						.range-slider__input-wrapper
							input.input.range-slider__input.js--range-from(type="number")
							input.input.range-slider__input.js--range-to(type="number")
						input.js--range-slider(
							type = "text",
							data-min = "2344",
							data-max = "39900",
							data-from = "5100",
							data-to = "25600",
						)

		.filter__item
			.spoiler
				.spoiler__click.js--spoiler-click
					span.spoiler__name Световой поток, Lm
				.spoiler__content.js--spoiler-content(style="display: none")
					span.
						test



		.filter__item.filter__item_label-selector
			.filter__choice-label.choice-label
				label.choice-label__item.checkbox-label
					input(type="checkbox", name="label")
					span.checkbox-label__view
						+icon('label-new', 'svg-icon_label-normal')
					span.checkbox-label__name Новинка
				label.choice-label__item.checkbox-label
					input(type="checkbox", name="label")
					span.checkbox-label__view
						+icon('label-discount', 'svg-icon_label-normal')
					span.checkbox-label__name Акция
				label.choice-label__item.checkbox-label
					input(type="checkbox", name="label")
					span.checkbox-label__view
						+icon('label-best-offer', 'svg-icon_label-normal')
					span.checkbox-label__name Лучшее предложение
		.filter__item.filter__item_button-area
			button.filter__btn.filter__btn_submit(type="submit") Показать результаты
			button.filter__btn.filter__btn_clear Сбросить фильтр






















