- user_authorized = true
- user_authorized_class = user_authorized ? "header_authorized" : ""
- is_home_color_class = title == "Главная" ? "header_color" :""
- pre_content_indent = typeof indent_pre === "undefined" ? " " : 'pre-content_'+indent_pre
- title_font_size_min = title_size_min ? "pre-content__title_font-size_min" : ""
.header-affix-offset.js--header-affix-offset
header.header.header_pos(class=user_authorized_class + " " + is_home_color_class).js--header.js--header-tablet-affix
	section.header__line.header__line_top
		.header__container.header__container_top.container
			nav.header__main-menu.js--main-menu
				.main-menu__line(data-main-menu-line)
				ul.main-menu
					li.main-menu__item(data-main-menu-item).active
						a.main-menu__link(href="/index.html" data-main-menu-link) Главная
					li.main-menu__item(data-main-menu-item)
						a.main-menu__link(href="#" data-main-menu-link) О компании
					li.main-menu__item(data-main-menu-item)
						a.main-menu__link(href="/partners.html" data-main-menu-link) Партнерам
					li.main-menu__item(data-main-menu-item)
						a.main-menu__link(href="/where.html" data-main-menu-link) Где купить
					li.main-menu__item(data-main-menu-item)
						a.main-menu__link(href="#" data-main-menu-link) Интернет-магазин
					li.main-menu__item(data-main-menu-item)
						a.main-menu__link(href="/contacts.html" data-main-menu-link) Контакты
			.header__top-right-area
				.header__top-contacts
					a.header__contact(href="#")
						+icon('phone', 'svg-icon_header-contact')
						span 8 (800) 456-78-90
					span.header__contact
						+icon('time', 'svg-icon_header-contact')
						span 08:00–19:00
				include blocks/lang-switch

	section.header__line.header__line_middle
		.header__container.header__container_middle.container
			.header__middle-left-area
				.header-logo
					a.header-logo__link(href="/index.html")
						+icon('logo', 'svg-icon_logo header-logo__icon header-logo__icon_display_1')
						+icon('logo_white', 'svg-icon_logo_white header-logo__icon header-logo__icon_display_2 ')
				.header__buttons-area.h-buttons
					.h-buttons__item
						a.header__btn.header__btn_phone(href="#")
							+icon('phone2', 'svg-icon_phone2 ')
					.h-buttons__item.h-buttons__item_hide-authorized
						button.header__btn.header__btn_enter.js--enter
							+icon('enter', 'svg-icon_enter2 svg-icon_header')
					.h-buttons__item.h-buttons__item_hide-authorized_phones
						button.header__btn.header__btn_compare.js--enter
							+icon('compare', 'svg-icon_compare svg-icon_header')
					.h-buttons__item
						button.header__btn.header__btn_favorites.js--enter
							+icon('favorites', 'svg-icon_favorites svg-icon_header')
					.h-buttons__item
						button.header__btn.header__btn_list.js--open-menu
							+icon('list', 'svg-icon_list svg-icon_header')
							.btn-actions__order-count 5
					.h-buttons__item
						button.header__btn.header__btn_user.js--open-menu
							+icon('user', 'svg-icon_user svg-icon_header')
					.h-buttons__item
						button.header__btn.header__btn_menu.js--open-menu
							+icon('menu', 'svg-icon_menu ')
						button.header__btn.header__btn_close.js--open-menu
							+icon('close', 'svg-icon_close ')
			.header__middle-flex-br
				.flex-br

			.header__middle-right-area.js--show-when-menu-open(data-header-middle-right="")
				form.header__search.main-search
					.main-search__form
						span.main-search__legend Поиск:
						input.input-line.main-search__input(type="search", placeholder="Поиск").js--main-search-input
						button.main-search__btn-submit(type="submit")
							+icon('zoom', 'svg-icon_zoom')
					.main-search__link
						a.main-search__btn-link(href="#") Подобрать аналог
				if(user_authorized_class)
					.header__authorizatiion
						.header__inner-column
							button.btn-actions.header__btn-actions
								.btn-actions__text Избранное
								//.btn-actions__icon
								//	+icon('favorites', 'svg-icon_favorites svg-icon_header')
								.btn-actions__icon.btn-actions__icon_favorites
									svg(xmlns='http://www.w3.org/2000/svg', width='26', height='24', viewBox='0 0 26 24')
										path(  d='M437.039,1386.01l-8.038-4.1-8.038,4.1,1.535-8.69-6.5-6.15,8.987-1.27L429,1362l4.019,7.9,8.987,1.27-6.5,6.15Zm-18.521-14.04,5.242,4.95-1.237,7,6.478-3.3,6.478,3.3-1.237-7,5.242-4.95-7.244-1.02L429,1364.58l-3.239,6.37Z', transform='translate(-416 -1362)')
						.header__inner-column
							button.btn-actions.header__btn-actions
								.btn-actions__text Сравнить
								//.btn-actions__icon
								//	+icon('compare', 'svg-icon_compare svg-icon_header')
								.btn-actions__icon.btn-actions__icon_compare
									svg(xmlns='http://www.w3.org/2000/svg' width='19' height='22' viewbox='0 0 19 22')
										path(d='M480,1386v-22h1v22h-1Zm-6-12h1v12h-1v-12Zm-6-10h1v22h-1v-22Zm-6,10h1v12h-1v-12Z' transform='translate(-462 -1364)')
						.header__inner-column
							button.btn-actions.header__btn-actions
								.btn-actions__text Мой заказ
								.btn-actions__icon.btn-actions__icon_position
									+icon('list', 'svg-icon_list svg-icon_header')
									.btn-actions__order-count 5
						.header__inner-column
							button.btn-actions.header__btn-actions
								.btn-actions__text Кабинет
								.btn-actions__icon
									+icon('user', 'svg-icon_user svg-icon_header')
				else
					.header__enter
						button.enter-button.js--enter
							span Войти
							+icon('enter', 'svg-icon_enter')

	.js--affix-offset

	section.header__line.header__line_bottom.js--header-desktop-affix.js--show-when-menu-open
		.header__container.header__container_bottom.container
			.header-logo-mini
				a.header-logo-mini__link(href="/index.html")
					.header-logo-mini__image
						+icon('logo_white', 'svg-icon_logo_white header-logo__icon header-logo__icon_color_2 ')
			nav.catalog-menu.header__cat-menu
				ul.catalog-menu__list
					li.catalog-menu__item.catalog-menu__item_has-child
						a.catalog-menu__link(href="/catalog_root.html") Источники света
						.catalog-menu__sub-menu(style="display: none")
							ul.sub-menu
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Бытовое освещение
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Административно-офисное освещение IP20-IP40
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Промышленное освещение IP65
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Освещение для ЖКХ
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Аккумуляторные светильники и LED-указатели
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Прожекторы
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Архитектурная подсветка
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Консольные светильники
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Консольные светильники на солнечной батарее
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Садово-парковые светильники
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Тротуарные светильники
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Подводные светильники
					li.catalog-menu__item.catalog-menu__item_has-child
						a.catalog-menu__link(href="/catalog_root.html") Светильники
						.catalog-menu__sub-menu(style="display: none")
							ul.sub-menu
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Другой пункт меню
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Другой пункт меню
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Другой пункт меню
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Другой пункт меню Другой пункт меню
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Другой пункт меню Другой пункт меню Другой пункт меню
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Другой пункт меню
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Другой пункт меню Другой пункт меню Другой пункт меню
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Другой пункт меню
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Другой пункт меню Другой пункт меню Другой пункт меню
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Другой пункт меню
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Другой пункт меню
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Другой пункт меню
					li.catalog-menu__item.catalog-menu__item_has-child
						a.catalog-menu__link(href="/catalog_root.html") Светодиодная лента
						.catalog-menu__sub-menu(style="display: none")
							ul.sub-menu
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Бытовое освещение
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Административно-офисное освещение IP20-IP40
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Промышленное освещение IP65
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Освещение для ЖКХ
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Аккумуляторные светильники и LED-указатели
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Прожекторы
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Архитектурная подсветка
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Консольные светильники
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Консольные светильники на солнечной батарее
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Садово-парковые светильники
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Тротуарные светильники
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Подводные светильники
					li.catalog-menu__item.catalog-menu__item_has-child
						a.catalog-menu__link(href="/catalog_root.html") Декоративное освещение
						.catalog-menu__sub-menu(style="display: none")
							ul.sub-menu
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Бытовое освещение
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Административно-офисное освещение IP20-IP40
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Промышленное освещение IP65
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Освещение для ЖКХ
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Аккумуляторные светильники и LED-указатели
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Прожекторы
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Архитектурная подсветка
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Консольные светильники
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Консольные светильники на солнечной батарее
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Садово-парковые светильники
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Тротуарные светильники
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Подводные светильники
					li.catalog-menu__item.catalog-menu__item_has-child
						a.catalog-menu__link(href="/catalog_root.html") Электротовары
						.catalog-menu__sub-menu(style="display: none")
							ul.sub-menu
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Бытовое освещение
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Административно-офисное освещение IP20-IP40
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Промышленное освещение IP65
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Освещение для ЖКХ
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Аккумуляторные светильники и LED-указатели
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Прожекторы
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Архитектурная подсветка
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Консольные светильники
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Консольные светильники на солнечной батарее
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Садово-парковые светильники
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Тротуарные светильники
								li.sub-menu__item
									a(href="/catalog.html").sub-menu__link Подводные светильники

	.js--affix-offset

if(title != "Главная")
	section.pre-content.pre-content_catalog-root.container(class=`${pre_content_indent}`)
		section.pre-content__line.pre-content__line_top
			if (typeof breadcrumbs !== 'undefined')
				.breadcrumbs
					- result = breadcrumbs;
					each item, index in result
						.breadcrumbs__item
							if (item.url == '' || !item.url)
								span.breadcrumbs__link= item.name
							else
								a.breadcrumbs__link(href=item.url)= item.name
			if (typeof pre_content_button !== 'undefined')
				.pre-content__button-area
					if (pre_content_button == 'print')
						a.pre-content__btn.pre-content__btn_print(href="javascript:(print());")
							span Распечатать страницу
							img(src="/img/print.png", alt="Распечатать страницу")


		section.pre-content__line.pre-content__line_bottom
			h1.pre-content__title(class=title_font_size_min) !{title}



















