include mixins
include variables
block variables

doctype hmtl
html(lang="ru")
	head
		meta(charset="UTF-8")
		- title_page = typeof title ==="undefined" ? 'Feron' : 'Feron | '+title
			title #{title_page}
		meta(name="viewport", content="width=device-width initial-scale=1.0")
		script(src='https://api-maps.yandex.ru/2.1/?apikey=<727ed760-7379-4492-a814-6646636915f4>&lang=ru_RU', type='text/javascript')
		block assets
			link(rel="stylesheet", href="css/style.css")
			//- возможно, слишком много начертаний шрифта. Ближе к концу верстки, ненужные надо удалить
			//- build from link https://fonts.google.com/?query=play&selection.family=Fira+Sans:300,400,400i,500,600,700|Play:400,700
			link(href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,500,600,700|Play:400,700&amp;subset=cyrillic", rel="stylesheet")

			script(src="js/jquery-3.3.1.min.js")
			script(src="js/bs-affix.js")
			script(src="js/ion.rangeSlider.js")
			script(src="js/jquery.enllax.min.js")

			//- not include in bitrix
			script(src="js/svg-sprite.js")


			script(src="js/slick.min.js")
			script(src="js/jquery.arcticmodal-0.3.min.js")
			script(src="js/jquery.fancybox.min.js")
			script(src="js/jquery.selectric.min.js")
			script(src="js/calc.js")
			script(src="js/scripts.js")

	body
		.main-wrapper

			include header.pug

			main.main
				block content

		include footer.pug

		//- кнопка вверх
		//-
			button.up-button.js--anchor(data-target="top")
				.up-button__svg
					+icon('arrow-left', 'rotate-90')
		
		//- модальные окна
		div(style="display: none;")

			//- окно уведомления
			.box-modal.box-modal_size_middle#notification
				.box-modal__container
					.box-modal__header
						span.box-modal__title Уведомление
						.box-modal__close.arcticmodal-close
							+icon('close')
					.box-modal__body
						.text-center
							h2 Вы успешно зарегистрировались
							botton.btn.arcticmodal-close ок




























