// страница каталога

.catalog {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &__sidebar {
        width: 265px;
        margin-right: 60px;
    }
    &__container {
        width: calc(100% - 265px - 60px);
        &_root {
            width: 100%;
        }
    }
    &__footer {
        margin-top: 60px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        border-radius: 2px;
    }
    &__item,
    &__item-category {
        width: 33.33333333%;
        border: 1px solid  #e0e0e0;
        margin-left: -1px;
        margin-bottom: -1px;
    }
    &__item-category {
        width: 25%;
    }
    &__header {

    }
    &__view-sort {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 27px; 
        @include laptop {
            justify-content: flex-start;
        }
    }
    &__current-filter {
        padding: 20px 30px 10px 30px;
        border: 1px solid #e0e0e0;
        margin-bottom: 30px;
        border-radius: 2px;
    }
    &__pagination {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    &__view-settings {
        display: flex;
    }
    &__view-box {
        margin-left: 70px;
    }
    &__btn-show-more {
        @include size(100%, 40px);
        border-radius: 2px;
        background-color: #f0f0f0;
        text-align: center;
        border: 1px solid #f0f0f0;
        color: #999;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        transition: all .3s ease;
        &:hover {
            cursor: pointer;
            border-color: #e0e0e0;
            color: #777;
            background-color: #fff;
        }
    }
    &__btn-filter {
        //display: flex;
        display: none;
        align-items: center;
        color: #999;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none !important;
        @include laptop {
            margin-right: 40px;
        }
        span {
            margin-right: 20px;
        }
        svg {
            fill: #999;
        }
    }
    &__sort {
          margin-right: 40px;
    }
    &__sort-mob,
    &__view-setting-mob {
        display: none;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
}

@media (max-width: 1279px) {
    .catalog {
        &__item {
            width: 50%;
        }
    }
}

@media (max-width: 980px) {
    .catalog {
        &__item-category {
            width: 33.33333333%;
        }
        &__container {
            width: 100%;
        }
        &__sidebar {
            width: 0;
            margin-right: 0;
        }
        &__btn-filter {
            display: flex;
        }
        &__view-box {
            display: none;
        }
        &__current-filter.current-filter {
            display: none;
        }
    }
}

@media (max-width: 680px) {
    .catalog {
        &__item-category {
            width: 50%;
        }
    }
}

@media (max-width: 480px) {
    .catalog {
        &__item-category {
            width: 100%;
        }
    }
}

















