// страница контактов

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &_size {
        min-height: 700px;
        @include laptop {
            min-height: 600px;
        }
        @include tablets {
            min-height: inherit;
            margin: 0;
        }
    }
    &__info {
        max-width: 300px;
        flex-basis: 100px;
        margin-right: 30px;
        flex-grow: 1;
        width: 100%;
        @include tablets {
            max-width: 100%;
            margin-right: 0;
        }
    }
    &__inner-wrap {
        margin-top: -5px;
    }
    &__map {
        flex-basis: 200px;
        flex-grow: 1;
        width: 100%;
    }
    &__title {
        font-size: 30px;
        color: #000;
        font-weight: 500;
        margin-bottom: 20px;
        line-height: 1.2;
        @include tablets {
            font-size: 20px;
        }
    }
    &__inner-wrap + #{&}__inner-wrap {
        margin-top: 60px;
    }
}

.contacts-map {
    width: 100%;
    height: 500px;
    @include tablets {
        position: fixed;
        top: -1000px;
        left: 0;
        padding: 0 15px;
        z-index: 110;
        height: 300px;
    }
    &.modal-active {
        top: 50px;
    }
    [class^="ymaps"][class$="-ground-pane"] {
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
        -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    }
}


