
.product-detail {
	&__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
		overflow: hidden;
		margin: 0 -30px 0;
		@include laptop {
			padding-bottom: 0;
			border-bottom: none;
		}
		* {
			min-height: 1px;
			min-width: 1px;
		}
	}
	&__part_indent {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #f0f0f0;
	}
	&__part_mob {
		display: none;
		@include laptop {
			display: block;
		}
	}
	&__inner-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 60px;
		display: none;
		@include phones {
			display: flex;
		}
	}
	&__bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		overflow: hidden;
		&_indent {
			padding-top: 50px;
			border-top: 1px solid #f0f0f0;
			@include laptop {
				padding-top: 0;
				border-top: none;
			}

		}
	}
	&__column {
		flex-grow: 1;
		width: calc(100% - 60px);
		max-width: 416px;
		flex-basis: 300px;
		margin: 0 30px 35px;
		&_size_1 {
			order: 1;
		}
		&_size_2 {
			order: 2;
			max-width: inherit;
			@include laptop {
				order: 3;
				max-width: 100%;
			}
		}
		&_size_3 {
			order: 3;
			max-width: 290px;
			flex-basis: 230px;
			@include laptop {
				max-width: inherit;
				order: 2;
			}
		}
		@include phones {
			max-width: 100%;
		}
	}
	&__title {
		color: #000000;
		font-size: 28px;
		font-weight: 500;
		margin-top: 80px;
		margin-bottom: 50px;
		text-align: center;
		@include laptop {
		    margin-top: 35px;
			margin-bottom: 35px;
			font-size: 18px;
		}

	}
	&__part_mob {
		.slider-features,
		.documentation {
			@include laptop {
				display: block;
			}
		}
	}
}





