extend include/template1

block variables
	- 
		var title = 'Светодиодные лампы';
	-
		var breadcrumbs = [
				{
					'name': 'Главная',
					'url': '#'
				},
				{
					'name': 'Каталог товаров',
					'url': '#'
				},
				{
					'name': 'Источники света',
					'url': '#'
				},
				{
					'name': 'Светодиодные лампы',
					'url': ''
				}
			];

block content
	section.container
		.catalog
			aside.catalog__sidebar
				include include/filter.pug
			.catalog__container
				//- блок для параметров сортировки и текущих выбранных фильров
				.catalog__header
					.catalog__view-sort
						button.catalog__btn-filter.js--toggle-filter
							span Фильтровать
							+icon('filter', 'svg-icon_filter')
						.catalog__view-setting-mob
							.dropdown-mob
								span.dropdown-mob__current.color-muted.js--open-dropdown Показывать:
									span 48
								ul.dropdown-mob__list
									li.dropdown-mob__item.dropdown-mob__item_active
										a.dropdown-mob__content(href="#")
											+icon('check', 'svg-icon_dropdown-check')
											span 48
									li.dropdown-mob__item
										a.dropdown-mob__content(href="#") 
											+icon('check', 'svg-icon_dropdown-check')
											span 24
									li.dropdown-mob__item
										a.dropdown-mob__content(href="#") 
											+icon('check', 'svg-icon_dropdown-check')
											span 96
						.catalog__sort-mob
							.dropdown-mob
								span.dropdown-mob__current.color-muted.js--open-dropdown Сортировать:
									span по возрастанию цены
								ul.dropdown-mob__list
									li.dropdown-mob__item
										a.dropdown-mob__content(href="#")
											+icon('check', 'svg-icon_dropdown-check')
											span По популярности
									li.dropdown-mob__item.dropdown-mob__item_active
										a.dropdown-mob__content(href="#") 
											+icon('check', 'svg-icon_dropdown-check')
											span По возрастанию цены
									li.dropdown-mob__item
										a.dropdown-mob__content(href="#") 
											+icon('check', 'svg-icon_dropdown-check')
											span По убыванию цены
									li.dropdown-mob__item
										a.dropdown-mob__content(href="#") 
											+icon('check', 'svg-icon_dropdown-check')
											span По названию
									li.dropdown-mob__item
										a.dropdown-mob__content(href="#") 
											+icon('check', 'svg-icon_dropdown-check')
											span По новизне

						.catalog__sort
							.dropdown-wrapper
								span.dropdown-wrapper__legend.color-muted Сортировать:
								.dropdown-wrapper__dropdown
									.dropdown
										ul.dropdown__list
											li.dropdown__item.js--dropdown
												a.dropdown__content(href="#")
													+icon('triangle_2', 'svg-icon_dropdown')
													span По популярности
											li.dropdown__item
												a.dropdown__content(href="#") 
													+icon('triangle_2', 'svg-icon_dropdown')
													span По возрастанию цены
											li.dropdown__item
												a.dropdown__content(href="#") 
													+icon('triangle_2', 'svg-icon_dropdown')
													span По убыванию цены
											li.dropdown__item
												a.dropdown__content(href="#") 
													+icon('triangle_2', 'svg-icon_dropdown')
													span По названию
											li.dropdown__item
												a.dropdown__content(href="#") 
													+icon('triangle_2', 'svg-icon_dropdown')
													span По новизне

						.catalog__view-settings
							.catalog__show-count
								.dropdown-wrapper
									span.dropdown-wrapper__legend.color-muted Показывать:
									.dropdown-wrapper__dropdown
										.dropdown
											ul.dropdown__list
												li.dropdown__item.js--dropdown
													a.dropdown__content(href="#")
														+icon('triangle_2', 'svg-icon_dropdown')
														span 48
												li.dropdown__item
													a.dropdown__content(href="#") 
														+icon('triangle_2', 'svg-icon_dropdown')
														span 16
												li.dropdown__item
													a.dropdown__content(href="#") 
														+icon('triangle_2', 'svg-icon_dropdown')
														span 24
												li.dropdown__item
													a.dropdown__content(href="#") 
														+icon('triangle_2', 'svg-icon_dropdown')
														span 99

							.catalog__view-box
								.view-box
									button.view-box__mode.view-box__mode_active(data-view="grid")
										svg.svg-icon.svg-icon-view-list.view-box__svg.view-box__svg_list
											+icon('view-grid', 'view-box__svg view-box__svg_grid')

									button.view-box__mode(data-view="list")
										svg.svg-icon.svg-icon-view-list.view-box__svg.view-box__svg_list
											+icon('view-list', 'view-box__svg view-box__svg_list')

									button.view-box__mode(data-view="table")
										svg.svg-icon.svg-icon-view-list.view-box__svg.view-box__svg_list
											+icon('view-table', 'view-box__svg view-box__svg_table')


					.catalog__current-filter.current-filter
						ul.current-filter__list
							li.current-filter__item.tag-remove
								span Цена
								+icon('close', 'svg-icon_remove')
							li.current-filter__item.tag-remove
								span E14
								+icon('close', 'svg-icon_remove')
							li.current-filter__item.tag-remove
								span 2700 K
								+icon('close', 'svg-icon_remove')
							li.current-filter__item.tag-remove
								span Свеча
								+icon('close', 'svg-icon_remove')
							li.current-filter__item.tag-remove
								span Хром
								+icon('close', 'svg-icon_remove')
							li.current-filter__item.tag-remove
								span Длина
								+icon('close', 'svg-icon_remove')
						button.current-filter__button-clear Сбросить фильтр

				.catalog__body
					.catalog__list
						-$result = catalogList.items

						each item, i in $result
							- var id = item.id
							article.catalog__item.catalog-item
								.catalog-item__container
									.catalog-item__main
										.catalog-item__top
											if (typeof item.labels !== 'undefined')
												.catalog-item__label-container

													each label in item.labels
														.label.catalog-item__label(title=label.description)
															+icon(label.icon, 'svg-icon_label-normal')

											a.catalog-item__image(href=item.url)
												img(src=item.img[0].src, alt=item.img[0].alt)
											.catalog-item__info
												a.catalog-item__name(href=item.url)= item.name
												.catalog-item__price-old.catalog-item__price-old_desktop
													span= item.prices.old
												.catalog-item__avly
													.catalog-item__price-current
														span= item.prices.current+ '₽'
													.catalog-item__price-old.catalog-item__price-old_tablet
														span= item.prices.old
													.catalog-item__status.status(class='status_'+item.status.modifier)
														.status__indicator
														.status__text= item.status.text
										.catalog-item__middle.catalog-options
											if (typeof item.options !== 'undefined')

												each option, opt in item.options
													.catalog-options__item(class="catalog-options__item_"+option.modifier)
														span.catalog-options__name= option.name
														.catalog-options__container
															each item_option in option.items
																label.option(class='option_'+option.modifier)
																	if (item_option.checked)
																		input.option__input(type=option.type, name=opt+'_'+id, value=item_option.name, checked)
																	else
																		input.option__input(type=option.type, name=opt+'_'+id, value=item_option.name)
																	span.option__name= item_option.name
									.catalog-item__bottom
										if (item.available_to_order)
											button.catalog-item__btn-mini.js--favorites
												+icon('favorites', 'svg-icon_favorites')
											button.catalog-item__btn-mini.catalog-item__btn-mini_hide_mobile.js--compare
												+icon('compare', 'svg-icon_compare')
											button.catalog-item__btn-order.js--add-to-cart Добавить в заказ
										else
											button.catalog-item__btn-avly-notice.js--avly-notice Узнать о поступлении




				//- блок для пагинации и показать еще
				.catalog__footer
					button.catalog__btn-show-more.js--cat-show-more-items Показать еще
					.catalog__pagination
						ul.pagination
							li.pagination__item.pagination__item_arrow
								a.pagination__link.pagination__link_arrow(href="#")
									+icon('triangle', 'svg-icon_pagination rotate-180')
									span В начало
							li.pagination__item.pagination__item_active
								a.pagination__link(href="#") 1
							li.pagination__item
								a.pagination__link(href="#") 2
							li.pagination__item
								a.pagination__link(href="#") 3
							li.pagination__item
								a.pagination__link(href="#") 4
							li.pagination__item
								a.pagination__link(href="#") 5
							li.pagination__item.pagination__item_arrow
								a.pagination__link.pagination__link_arrow(href="#")
									span В конец
									+icon('triangle', 'svg-icon_pagination')




















