extend include/template1

block variables
	- 
		var title = 'Светодиодные лампы';
	-
		var pre_content_button = 'print';
	-
		var breadcrumbs = [
				{
					'name': 'Главная',
					'url': '#'
				},
				{
					'name': 'Каталог товаров',
					'url': '#'
				},
				{
					'name': 'Источники света',
					'url': '#'
				},
				{
					'name': 'Светодиодные лампы',
					'url': ''
				}
			];

block content
	section.container
		.catalog
			.catalog__container.catalog__container_root
				.catalog__body
					.catalog__list
						-$result = $categories_list.items

						each item, index in $result
							article.catalog__item-category.category-item
								a.category-item__image(href=item.url)
									img(src=item.img.src)
								a.category-item__name(href=item.url) #{item.name} (#{item.amount})

















