extend include/template1


block variables
	-
		var title = 'О компании';
	-
		var breadcrumbs = [
		{
		'name': 'Главная',
		'url': '#'
		},
		{
		'name': 'О компании',
		'url': ''
		}
		];

block content
	section.container
		.html-area
			h1 H1 Заголовок
			h2 H2 Заголовок
			h3 H3 Заголовок
			h4 H4 Заголовок
			h5 H5 Заголовок
			img(src="img/c/events3.jpg", alt='')
			p
				strong Традиции и широкий ассортимент

			p
				| Продукция под торговой маркой Feron выпускается на рынке с 1999 года. За время существования мы существенно расширили ассортимент продукции с учетом современных требований, предъявляемых потребителями к качеству и дизайну изделий. Сегодня под маркой Feron производится более 4000 наименований светотехнической продукции по направлениям:
			ul
				li Светильники – бытовые встраиваемые светильники, светодиодные, люминесцентные, уличные, автономные  это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее
				li Источники света - все виды ламп
				li Декоративное (праздничное) освещение

			a(href="#") Ссылка

			h5 Таблица
			table
				caption № 13231-45 от 27.09.2017
				thead
					tr
						th Артикул
						th Наименование
						th Стоимость
						th Количество
						th Партнерская скидка
						th Цена	без скидки
				tbody
					tr
						td
							span 12197
						td Лампа светодиодная Feron LB-40 Шарик...
						td
							span 32,00 ₽
						td
							span 25%
						td 1152,00 ₽
						td 864,00 ₽
					tr
						td
							span 12197
						td Лампа светодиодная Feron LB-40 Шарик...
						td
							span 32,00 ₽
						td
							span 25%
						td 1152,00 ₽
						td 864,00 ₽
					tr
						td
							span 12197
						td Лампа светодиодная Feron LB-40 Шарик...
						td
							span 32,00 ₽
						td
							span 25%
						td 1152,00 ₽
						td 864,00 ₽
					tr
						td
							span 12197
						td Лампа светодиодная Feron LB-40 Шарик...
						td
							span 32,00 ₽
						td
							span 25%
						td 1152,00 ₽
						td 864,00 ₽





