extend include/template1


block variables
	-
		var title = 'Контакты';
	-
		var breadcrumbs = [
			{
				'name': 'Главная',
				'url': '#'
			},
			{
				'name': 'Контакты',
				'url': ''
			}
		];

block content
	// передаем json в переменную  contactsList!
	section.container
		.contacts.contacts_size
			.contacts__info
				.contacts__wrap.js--accord-wrapper.js--map-wrapper
					each item, index in $contactsList
						.contacts__inner-wrap
							.contacts__title  #{item.title}
							ul.accord__list
								each innerItem, innerIndex in item.items
									li.accord__item.js--accord-item(class={"active":(index == 0 && innerIndex == 0)})
										.accord__toggle.js--accord-toggle(id=`${item.id}_${innerItem.id}`) #{innerItem.subtitle}
										.accord__content.js--accord-content
											ul.accord__inner-list
												each phoneItem, phoneIndex in innerItem.phone
													li.accord__inner-item
														a.accord__link.accord-item(href="tel:+4957991736")
															+icon('phone', 'svg-icon_phone accord-item__svg-icon')
															span.accord-item__text #{phoneItem}
											ul.accord__inner-list.accord__inner-list_indent
												each mailItem, mailIndex in innerItem.mail
													li.accord__inner-item
														a.accord__link.accord-item(href="mailto:svet-feron@mail.ru")
															+icon('mail', 'svg-icon_mail accord-item__svg-icon accord__svg-icon_pos ')
															span.accord-item__text #{mailItem}
											.accord__inner-list.accord__inner-list_min-indent
												.accord__link.accord-item
													+icon('location', 'svg-icon_location accord-item__svg-icon')
													span.accord__text.js--location-text #{innerItem.location}
											a(href="#map").accord__btn.btn.js--open-map-modal Открыть на карте
			.contacts__map.contacts-map#map
	- var $contactsListJson = JSON.stringify($contactsList)
	script var contactsList = "#{$contactsListJson}".replace(/&quot;/g,'"');

