extend include/template1

block variables
	- 
		var title = "Калькулятор";


block content
	
	style.
		.container_flex{
			display: flex;
		}
		.enter-area{
			width: 400px;
			border: 1px solid #eee;
			border-radius: 3px;
			padding: 20px;
		}
		.enter-area_2{
			flex: 1;
			padding-left: 20px;
			padding-right: 20px;
		}
		.input-wrapper{
			display: flex;
			align-items: center;
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid #eee;
		}
		.input-wrapper_align_top{
			align-items: flex-start;
		}

		.input-wrapper__legend{
			display: block;
			margin-right: 10px;
			min-width: 190px;
		}

	
	.container.container_flex
		form.enter-area(name="inputData")
			.input-wrapper
				.input-wrapper__legend
					span Длина, м
				.input-wrapper__input
					input.input(type="text", name="length1", value="5")
			.input-wrapper
				.input-wrapper__legend
					span Ширина, м
				.input-wrapper__input
					input.input(type="text", name="width", value="5")
			.input-wrapper
				.input-wrapper__legend
					span Высота, м
				.input-wrapper__input
					input.input(type="text", name="height", value="3")


			.input-wrapper
				.input-wrapper__legend
					span Рабочая поверхность, м
				.input-wrapper__input
					input.input(type="text", name="work_area", , value="0.8")

			.input-wrapper
				.input-wrapper__legend
					span Уровень освещенности,лк
				.input-wrapper__input
					input.input(type="text", name="light_level", , value="400")


			.input-wrapper.input-wrapper_align_top
				.input-wrapper__legend
					span Коэффицент отражения
				.input-wrapper__input
					.choice-area
						label.choice-area__item.checkbox
							input(type="radio", name="koef_otr", value="80/80/30")
							span.checkbox__name "80 80 30"
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="radio", name="koef_otr", value="80/50/30")
							span.checkbox__name "80 50 30"
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="radio", name="koef_otr", value="80/30/10")
							span.checkbox__name "80 30 10"
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="radio", name="koef_otr", checked, value="70/50/20")
							span.checkbox__name "70 50 20"
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="radio", name="koef_otr", value="50/50/10")
							span.checkbox__name "50 50 10"
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="radio", name="koef_otr", value="50/30/10")
							span.checkbox__name "50 30 10"
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="radio", name="koef_otr", value="30/30/10")
							span.checkbox__name "30 30 10"
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')


			.input-wrapper.input-wrapper_align_top
				.input-wrapper__legend
					span Коэффицент запаса
				.input-wrapper__input
					.choice-area
						label.choice-area__item.checkbox
							input(type="radio", value="1.1", name="koef_zap")
							span.checkbox__name 1.1
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="radio", value="1.4", name="koef_zap", checked)
							span.checkbox__name 1.4
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="radio", value="1.6", name="koef_zap")
							span.checkbox__name 1.6
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="radio", value="1.7", name="koef_zap")
							span.checkbox__name 1.7
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
			button.btn.js--get-lamp Получить рассчет кол-ва ламп
		.enter-area.enter-area_2



