extend include/template1

block variables
	- 
		var title = "UI-Kit";


block content


	style.
		.dev {
			background-color: #ebebeb;
			padding: 40px 0 80px;
			box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.03);
		}

		.dev> hr {
			margin: 40px 0;
			height: 6px;
			background-color: #cccccc;
		}
		.dev__row{
			background-color: #ffffff;
			display: flex;
			flex-wrap: wrap;
			border-radius: 5px 5px 5px 5px;
		}
		.dev__row_display_b {
			display: block;
		}
		.dev__item{
			border: 1px solid #eee;
			padding: 20px;
			flex-grow: 1;
			min-height: 100px;

		}
		.dev__item> span {
			color: #999999;
			font-size: 15px;
			display: block;
			margin-bottom: 20px;
			padding-bottom: 10px;
			position: relative;
		}
		.dev__title {
			color: #999999;
			font-size: 15px;
			padding: 20px;
			display: block;
		}

		.dev .dev_color-white {
			color: #ffffff;
		}
		
		.dev__item> span:before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #999999;
			opacity: 0.3;
		}

		.dev__item > span > span {
			color: #3366cc;
			display: block;
			padding-left: 40px;
		}
		.dev__item > span > span + span {
			margin-top: 5px;
		}

		.dev__row .dev__item:first-child {
			border-radius: 5px 0 0 5px;
		}
		.dev__row .dev__item:last-child {
			border-radius: 0 5px 5px 0;
		}

		.dev__item_15 {
			flex-basis: 15%;
		}

		.dev__item_20 {
			flex-basis: 20%;
		}

		.dev__item_30 {
			flex-basis: 30%;
		}

		.dev__item_40 {
			flex-basis: 40%;
		}
		.dev__item_60{
			flex-basis: 60%;
		}
		.dev__row + .dev__row {
			margin-top: 20px;
		}
		.dev_container_mod_inner-svg svg {
			width: 30px;
			height: 30px;
		}
		.dev_flex {
			display: flex;
			flex-wrap: wrap;
		}
		.mh-200 {
			min-height: 200px;
		}
		.mh-300 {
			min-height: 300px;
		}
		.dev__item_bg-blue {
			background: #3366cc;;
		}
		
		.dev__item_bg-blue span span {
			color: #ffffff;
		}

	.dev
		section.dev__wrap.container.mt-10
			h1 Готовые блоки
			.dev__row.dev__row_display_b
				span.dev__title Универсальная форма
				include include/blocks/form-catch
			.dev__row
				.dev__item
					span change-input
					include include/ui_blocks/change-input
				.dev__item
					span main-input
					include include/ui_blocks/main-input
			.dev__row
				.dev__item
					include include/ui_blocks/h1-etc
				.dev__item.dev__item_30
					span breadcrumbs
					.mb-40
						include include/ui_blocks/breadcrumbs
					span Текст на сайте:
					.mb-10
						|    Эта светодиодная лампа Philips идеально под
						|    ходит для ежедневного общего освещения.
						|    Она излучает красивый свет и надежно
						|    работает — ожидаемые преимущества свето-
						|    диодов по доступной цене. Эта лампа экономит
						|    до 80% электроэнергии по сравнению с обычной
						|    лампой. Она окупит свою стоимость и будет эко
						|    номить ваши средства в течение долгих лет.
				.dev__item
					span accord-item
					.mb-10
						a.accord-item(href="tel:+4957991736")
							+icon('phone', 'svg-icon_phone accord-item__svg-icon')
							span.accord-item__text +7 (495) 799-17-36
					.mb-10
						a.accord-item(href="tel:+4957991736")
							+icon('phone', 'svg-icon_phone accord-item__svg-icon')
							span.accord-item__text +7 (499) 763-55-54 (тел./факс)
					.mb-30
						a.accord-item(href="mailto:svet-feron@mail.ru")
							+icon('mail', 'svg-icon_mail accord-item__svg-icon accord__svg-icon_pos')
							span.accord-item__text t-feron@mail.ru
					.mb-10
						.accord-item
							+icon('location', 'svg-icon_location accord-item__svg-icon accord-item__svg-icon_pos')
							span.accord__text.js--location-text
								|	г. Москва, ул. Старообрядческая,
								br
								|	д. 28 А, 3 эт., оф. 311
				.dev__item
					span choice-area
					.choice-area
						label.choice-area__item.checkbox
							input(type="checkbox", name="#" checked)
							span.checkbox__name 2700 (4)
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="checkbox", name="#")
							span.checkbox__name 4000 (1)
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
						label.choice-area__item.checkbox
							input(type="checkbox", name="#")
							span.checkbox__name 6400 (19)
							span.checkbox__view
								+icon('plus', 'svg-icon_checkbox-plus')
			.dev__row
				.dev__item
					span range-slider input
					.mb-50
						.range-slider
							input.js--range-slider(
							type = "text",
							data-min = "2344",
							data-max = "39900",
							data-from = "5100",
							data-to = "25600",
							)
					span range-slider
					.mb-10
						include include/ui_blocks/range-slider
				.dev__item
						span switcher
						include include/ui_blocks/switcher
				.dev__item
					span catalog-item
					article.catalog-item(style="border: 1px solid #e0e0e0;")
				.dev__item
					span spoiler внутри choise-area внутри checkbox
					.spoiler
						.spoiler__click.js--spoiler-click
							span.spoiler__name Мощность
						.spoiler__content.js--spoiler-content(style="display: none")
							include include/ui_blocks/choise-area
					.spoiler.spoiler_selected
						.spoiler__click.js--spoiler-click
							span.spoiler__name Цоколь
						.spoiler__content.js--spoiler-content(style="display: none")
							include include/ui_blocks/choise-area
			.dev__row
				.dev__item
					span option
					.mb-30
						label.option
							input.option__input(type="radio", name="base_1", value="E14", checked)
							span.option__name E14
						label.option
							input.option__input(type="radio", name="base_1", value="E27")
							span.option__name E27
						label.option.option_disabled
							input.option__input(type="radio", name="base_1", value="E29", disabled)
							span.option__name E29
					span counter-amount
					include include/ui_blocks/counter-amount
				.dev__item.dev__item_15
					span dropdown-wrapper внутри dropdown
					.dropdown-wrapper
						span.dropdown-wrapper__legend.color-muted Сортировать:
						.dropdown-wrapper__dropdown
							.dropdown
								ul.dropdown__list
									li.dropdown__item.js--dropdown
										a.dropdown__content(href="#")
											+icon('triangle_2', 'svg-icon_dropdown')
											span По популярности
									li.dropdown__item
										a.dropdown__content(href="#")
											+icon('triangle_2', 'svg-icon_dropdown')
											span По возрастанию цены
									li.dropdown__item
										a.dropdown__content(href="#")
											+icon('triangle_2', 'svg-icon_dropdown')
											span По убыванию цены
									li.dropdown__item
										a.dropdown__content(href="#")
											+icon('triangle_2', 'svg-icon_dropdown')
											span По названию
									li.dropdown__item
										a.dropdown__content(href="#")
											+icon('triangle_2', 'svg-icon_dropdown')
											span По новизне
				.dev__item
					span slider-features-item
					.dev_flex
						.mr-5
							.slider-features-item(title="Текст подсказки для ra")
								+icon("ra", "svg-icon_ra")
						.mr-5
							.slider-features-item(title="Текст подсказки для guarantee")
								+icon("guarantee", "svg-icon_guarantee")
						.mr-5
							.slider-features-item(title="Текст подсказки для puls")
								+icon("puls", "svg-icon_puls")
						.mr-5
							.slider-features-item(title="Текст подсказки для degree")
								+icon("degree", "svg-icon_degree")
						.mr-5
							.slider-features-item(title="Текст подсказки для hours")
								+icon("hours", "svg-icon_hours")
				.dev__item
					span input
					input.input(type="text")
				.dev__item
					span textarea
					textarea.textarea
			.dev__row
				.dev__item
					span
						| status
						span
							|	_in-stock
					.mb-30
						.status.status_in-stock
							.status__indicator
							.status__text В наличии
					span
						| status
						span
							|    _for-order
					.mb-30
						.status.status_for-order
							.status__indicator
							.status__text Под заказ
					span
						| status
						span
							|    _not-available
					.mb-30
						.status.status_not-available
							.status__indicator
							.status__text Нет в наличии
				.dev__item
					span btn-actions
					.mb-15
						button.btn-actions
							.btn-actions__icon
								+icon('favorites', 'svg-icon_favorites')
							.btn-actions__text В избранное
					.mb-15
						button.btn-actions
							.btn-actions__icon
								+icon('compare', 'svg-icon_compare').class-active
							.btn-actions__text Сравнить
				.dev__item
					span price
					include include/ui_blocks/price
				.dev__item.dev__item_bg-blue.main-banner
					span.dev_color-white price select (стилизован в select-tabs)
					.mt-40.mh-200.select-tabs.js--select-tabs
						select
							option Дистрибьюторам
							option Розничным магазинам
							option Интернет-магазин
			.dev__row
				.dev__item
					span btn-main
					.mb-30
						button.btn-main Добавить в заказ
					span
						|    btn-main
						span
							|    _transparent
					.mb-30
						button.btn-main.btn-main_transparent Узнать о поступлении
					span
						|    btn-main
						span
							|    _gray-blue
					.mb-30
						button.btn-main.btn-main_gray-blue Улицы, площади и здания
					span
						|    btn-main
						span
							|    _icon
					.mb-30
						button.btn-main.btn-main_icon
							+icon('plus', 'svg-icon_plus btn-main__svg-icon')
							span.btn-main__text Добавить юр.лицо
					span
						|    btn-main
						span
							|    _icon
					.mb-30
						button.btn-main.btn-main_icon
							+icon('pencil', 'svg-icon_pencil btn-main__svg-icon')
							span.btn-main__text Редактировать
					span
						|    btn-main
						span
							|    _icon
						span
							|    _shadow_blue
						span
							|    _border_white
					.mb-30
						button.btn-main.btn-main_icon.btn-main_shadow_blue.btn-main_border_white
							+icon('repeat', 'svg-icon_repeat btn-main__svg-icon')
							span.btn-main__text Повторить заказ
					span
						|    btn-main
						span
							|    _icon
						span
							|    _border_transparent
					.mb-30
						button.btn-main.btn-main_icon.btn-main_border_transparent
							+icon('triangle_2', 'svg-icon_triangle_2 btn-main__svg-icon')
							span.btn-main__text
								| Показать все счета 
								span.btn-main__number
									| (54)

				.dev__item
					span
						|    btn-main
						span
							|    _transparent-color
					.mb-30
						button.btn-main.btn-main_transparent-color
							span Добавить юр.лицо
					span
						|    .btn-check + .btn-main
						span
							|    _gray-turquoise
					label.btn-check
						input.btn-check__input(type="radio" name="ООО 'ИнжТехПромСтрой'" value="ООО 'ИнжТехПромСтрой'")
						span.btn-check__name.btn-main.btn-main_gray-turquoise ООО 'ИнжТехПромСтрой'
				.dev__item.dev__item_60
					span
						|    btn-main
						span
							|    _gray
						span
							|    _full-width
					button.btn-main.btn-main_full-width.btn-main_gray Показать ещё
			.dev__row
				.dev__item.dev__item_60.dev__item_bg-blue
					span btn-main
						span
							|    _border_white
					.mb-30
						button.btn-main.btn-main_border_white Открыть калькулятор
			.dev__row
				.dev__item.dev__item_60
					span main-search
					include include/ui_blocks/main-search
				.dev__item
					span tag-remove
					include include/ui_blocks/tag-remove
				.dev__item
				.dev__item
				.dev__item
			.dev__row
				.dev__item
					span
						|    иконки
						br
						|    .svg-icon_label-normal - стандартный размер
						br
						|    .svg-icon_label_size_min
					.dev_flex
						.mb-10.mr-20
							+icon('label-new', 'svg-icon_label-normal ')
						.mb-10
						.dev_container
							+icon('label-new', 'svg-icon_label-normal svg-icon_label_size_min')
					.dev_flex
						.mb-10.mr-20
							+icon('label-discount', 'svg-icon_label-normal')
						.mb-10
						.dev_container
							+icon('label-discount', 'svg-icon_label-normal svg-icon_label_size_min')
					.dev_flex
						.mb-10.mr-20
							+icon('label-best-offer', 'svg-icon_label-normal')
						.mb-10
						.dev_container
							+icon('label-best-offer', 'svg-icon_label-normal svg-icon_label_size_min')
				.dev__item
					span
						|    иконки
					.dev_flex
						.mb-10.mr-20
							+icon('analog', 'svg-icon_analog')
						.mb-10.mr-20
							+icon('check', 'svg-icon_check')
						.mb-10.mr-20
							+icon('close', 'svg-icon_close')
						.mb-10.mr-20
							+icon('compare', 'svg-icon_compare')
						.mb-10.mr-20
							+icon('degree', 'svg-icon_degree')
						.mb-10.mr-20
							+icon('document', 'svg-icon_document')
						.mb-10.mr-20
							+icon('enter', 'svg-icon_enter')
						.mb-10.mr-20
							+icon('analog', 'svg-icon_analog')
			.dev__row
				include include/ui_blocks/basket-order

		hr

		section.container.mt-60.mb-
			h1 В разработке
			.dev__row
				.dev__item


		hr
		//section.container.mt-80
		//	h1 Заготовки (не нужно на них внимание обращать)
		//	.dev__row
		//		.dev__item
		//
		//		.dev__item
		//			+checkbox('2700 K', '')
		//			+checkbox('3700 K', '1')
		//			+checkbox('творог', '1')
		//		.dev__item
		//			input.input(type="text", placeholder="поле ввода")
		//			input.input(type="number", placeholder="поле ввода цифр")
		//		.dev__item
		//			textarea.textarea(placeholder="область ввода текста")
		//		.dev__item
		//			textarea.textarea.textarea_resize-off(placeholder="область ввода текста без резайза")
		//		.dev__item
		//			input.btn(type="submit", value="кнопка отправки формы")
		//			button.btn(type="submit") элемент button
		//			a.btn(href="#") ссылка в стиле кнопки
		//		.dev__item
		//			button.btn.btn_w-icon(type="submit")
		//				+icon('filter', 'svg-icon_filter-in-button')
		//				|элемент button c иконкой
		//		.dev__item
		//			label.radio
		//				input.radio__input(type="radio", name="color_body")
		//				span.radio__view
		//				span.radio__name Белый
		//			label.radio
		//				input.radio__input(type="radio", name="color_body")
		//				span.radio__view
		//				span.radio__name Оранжевый
		//			label.radio
		//				input.radio__input(type="radio", name="color_body")
		//				span.radio__view
		//				span.radio__name Черный
		//		.dev__item
		//
		//
		//



















