extend include/template1

block variables
	- 
		var title = "Typographic page";


block content


	style.
		.html-area{
			margin: 30px auto 0;
			max-width: 70vw;
			width: 100%;
			min-height: 70vh;
			padding: 30px;
			border-radius: 20px;
			border: 2px dashed #4afcff;
		}





	.html-area
		h1 H1 Заголовок
		h2 H2 Заголовок
		h3 H3 Заголовок
		h4 H4 Заголовок
		h5 H5 Заголовок
		p.
			Текст на сайте:<br>
			Эта светодиодная лампа Philips идеально под-
			ходит для ежедневного общего освещения.
			Она излучает красивый свет и надежно
			работает — ожидаемые преимущества свето-
			диодов по доступной цене. Эта лампа экономит
			до 80% электроэнергии по сравнению с обычной
			лампой. Она окупит свою стоимость и будет эко-
			номить ваши средства в течение долгих лет.
		//-
			<div>
				fdgfdgdfgdf
			</div>
			<div>
				<b>gfdgdfgdf</b>
			</div>
			<div>
				<i>gfdgfdgdf</i>
			</div>
			<div>
				<u>gfdgdfgdf</u>
			</div>
			<div>
				<del>gfdgdfgfdgdf</del>
			</div>
			<div>
				<span style="color: #ff00ff;">gfdgdfgfd</span>
			</div>
			<div>
				gfdgfd
			</div>
			<p style="text-align: center;"></p>
			<p></p>
			<ol>
				<li>gdfgdfgdf</li>
				<li>gdfgdf</li>
				<ol>
					<li>gdfgdf</li>
					<li>gdfgfd</li>
					<ol>
						<li>gdfgfdgdf</li>
						<li>gdfgd</li>
						<ol>
							<li>gdfgdfgdf</li>
							<li>gdfgdf</li>
							<ol>
								<li>gdfgdfgdf</li>
								<li>gdfgdf<br>
								</li>
							</ol>
						</ol>
					</ol>
				</ol>
			</ol>
			<ul>
				<li>ggdfgdfgdf</li>
				<li>gdfgdfgdf</li>
				<li>gdfgdf</li>
				<ul>
					<li>gdfgdf</li>
					<li>gdfgdf</li>
					<ul>
						<li>gdgdfgdf</li>
						<li>gdfgdf</li>
						<ul>
							<li>gdfgfd</li>
							<li>gdfgdf</li>
							<ul>
								<li>gfdgdf</li>
								<li>ggfd</li>
								<ul>
									<li>gdfgdfgdf</li>
									<li>gdfgdf</li>
								</ul>
							</ul>
						</ul>
					</ul>
				</ul>
			</ul>
			<p style="text-align: center;">
				gdfgdf
			</p>
			<p style="text-align: center;">
				<br>
			</p>
			<p style="text-align: right;">
				dfgdfgdf
			</p>
			<p style="text-align: right;">
				<br>
			</p>
			<p style="text-align: justify;">
				gfdgdfgdfgdf gdfgfdgdf gdfgdfgd gdfgfd
			</p>
			<p style="text-align: justify;">
				<a href="">gdgdfgdf</a>
			</p>
			<p style="text-align: justify;">
				<img alt="xyFKtb.jpg" src="/upload/medialibrary/4e0/4e0bd0ba57532a19dcd2d431dc1a778c.jpg" title="xyFKtb.jpg" width="1024" height="307">
			</p>
			<p style="text-align: justify;">
				<br>
			</p>
			<p style="text-align: justify;">
				<iframe title="”рок 1. CMS 1C-Ѕитрикс: управление сайтом. ”становка Ѕитрикс" src="https://www.youtube.com/embed/LmgxfPgmcCg?feature=oembed" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="1280" height="720" frameborder="0">
				<br>
				</iframe> <br>
			</p>
			<p style="text-align: justify;">
			<div style="page-break-after: always"><span style="display: none">&nbsp;</span></div>
			</p>
			<p style="text-align: justify;">
				fsdfds
			</p>
			<p style="text-align: justify;">
				<a name="dfgdfsgdf"></a>
			</p>
			<p style="text-align: justify;"></p>
			<table cellspacing="1" cellpadding="1" border="1">
				<tbody>
					<tr>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
					<tr>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
				</tbody>
			</table>
			<p></p>
			<h1 style="text-align: justify;">fdsfdsfsd<br></h1>
			<h2 style="text-align: justify;">fdsfdsfdsfsdfsd</h2>
			<h3>fsdfsdfsd</h3>
			<h4>fsdfsdfsd</h4>
			<h5>fsdfsdfsd</h5>
			<h6>fdsfsdfsd<br></h6>
			<p>
				ggfdgdfgdf
			</p>
			<div style="text-align: justify;">
				gdfgdfgdfgdfgdf
			</div>
			<div style="text-align: justify;">
				<br>
			</div>
			<div>
				gdfgdfgdf
			</div>
			<div>
				<BREAK />
				gdfgfd
			</div>
			<div>
				gdfg
			</div>
			<div>
				<br>
			</div>
			<div>
				<hr>
			</div>
			<div>
				<br>
			</div>
			<div>
				gfdgfd<sub>gfdgd</sub>f<sup></sup><sup>gdfgdf</sup><sub><br>
				</sub>
			</div>
			<p></p>
