extend include/template1


block variables
	- var title = 'Главная';

block content
	include include/blocks/main-banner
	section.container
		.decor.js--decor
			.decor__img-box.decor__img-box_pos_1(data-decor-item data-enllax-ratio=".1" data-enllax-type="foreground")
				img(src="img/parallax3.png", alt='' data-decor-item-img-blur).decor__img
				img(src="img/parallax3.png", alt='' ).decor__img.decor__img_blur
			.decor__img-box.decor__img-box_pos_2(data-decor-item data-enllax-ratio=".1" data-enllax-type="foreground")
				img(src="img/parallax2.png", alt='' data-decor-item-img-blur).decor__img
				img(src="img/parallax2.png", alt='' ).decor__img.decor__img_blur
			.decor__img-box.decor__img-box_pos_3(data-decor-item data-enllax-ratio=".3" data-enllax-type="foreground")
				img(src="img/parallax1.png", alt='' data-decor-item-img-blur).decor__img.decor__img_blur
				img(src="img/parallax1.png", alt='' ).decor__img

			.decor__img-box.decor__img-box_pos_4(data-decor-item data-enllax-ratio=".3" data-enllax-type="foreground")
				img(src="img/parallax3.png", alt='' data-decor-item-img-blur).decor__img
				img(src="img/parallax3.png", alt='' ).decor__img.decor__img_blur
			.decor__img-box.decor__img-box_pos_5(data-decor-item data-enllax-ratio=".1" data-enllax-type="foreground")
				img(src="img/parallax2.png", alt='' data-decor-item-img-blur).decor__img
				img(src="img/parallax2.png", alt='' ).decor__img.decor__img_blur
			.decor__img-box.decor__img-box_pos_10(data-decor-item data-enllax-ratio=".1" data-enllax-type="foreground")
				img(src="img/parallax0.png", alt='' data-decor-item-img-blur).decor__img.decor__img_blur
				img(src="img/parallax0.png", alt='' ).decor__img
	section.container
		.sub-title.sub-title_indent-b_min.sub-title_indent-t_min Наши преимущества
		include include/blocks/tabs
	section.container
		.decor.decor_1.js--decor
			.decor__img-box.decor__img-box_pos_6(data-decor-item data-enllax-ratio=".5" data-enllax-type="foreground" data-enllax-item)
				img(src="img/parallax4.png", alt='' data-decor-item-img-blur).decor__img.decor__img_transform_1.decor__img_blur
				img(src="img/parallax4.png", alt='' ).decor__img.decor__img_transform_1
			.decor__img-box.decor__img-box_pos_7(data-decor-item data-enllax-ratio=".1" data-enllax-type="foreground" data-enllax-item)
				img(src="img/parallax5.png", alt='' data-decor-item-img-blur).decor__img.decor__img_transform_2
				img(src="img/parallax5.png", alt='' ).decor__img.decor__img_transform_2.decor__img_blur
			.decor__img-box.decor__img-box_pos_8(data-decor-item data-enllax-ratio=".1" data-enllax-type="foreground" data-enllax-item)
				img(src="img/parallax4.png", alt='' data-decor-item-img-blur).decor__img.decor__img_transform_3
				img(src="img/parallax4.png", alt='' ).decor__img.decor__img_transform_3.decor__img_blur

			.decor__img-box.decor__img-box_pos_9(data-decor-item data-enllax-ratio=".3" data-enllax-type="foreground" data-enllax-item)
				img(src="img/parallax6.png", alt='' data-decor-item-img-blur).decor__img.decor__img_transform_4
				img(src="img/parallax6.png", alt='' ).decor__img.decor__img_transform_4.decor__img_blur
	section.container
		include include/blocks/calc
	.sub-title.sub-title_indent-t_big.sub-title_indent-b_min Cобытия
	section.container
		include include/blocks/news