extend include/template1


block variables
	-
		var title = 'Партнерам';
	-
		var breadcrumbs = [
		{
		'name': 'Главная',
		'url': '#'
		},
		{
		'name': 'Партнерам',
		'url': ''
		}
		];

block content
	section.container
		.description.partners-block#description
			.description__title= $partnersList.title
			.description__desc.html-area !{$partnersList.description}
			.show-all-btn.description__show-all-btn(data-show-all='Свернуть' data-show-all-block='description').js--description-show-all
				span.show-all-btn__text(data-show-all-text='')  Читать полностью
		.documentation.partners-block
			.documentation__list.documentation__list_width
				each documentItem, documentindex in $partnersList.documentation
					a(href=documentItem.link).documentation__item.documentation__item_width
						.documentation-item__icon-box
							+icon(documentItem.icon, "svg-icon_" + documentItem.icon)
						.documentation-item__text= documentItem.title



