extend include/template1


block variables
    -
        var title = 'Лампа светодиодная Feron LB-57 <br>'+
        'Шар E27 7W 2700K 25569';
    -
        var breadcrumbs = [
            {
                'name': 'Главная',
                'url': '#'
            },
            {
                'name': 'Каталог товаров',
                'url': '#'
            },
            {
                'name': 'Источники света',
                'url': '#'
            },
            {
                'name': 'Светодиодные лампы',
                'url': '#'
            },
            {
                'name': 'Лампа светодиодная Feron LB-57 Шар E27 7W 2700K 25569',
                'url': ''
            }
        ];

    -
        var indent_pre = "indent_min"
        var $detaiItem = $detailList[0]
        var title_size_min = true;


block content
    .product-detail
        .container
            .product-detail__wrapper
                .product-detail__top
                    .product-detail__column.product-detail__column_size_1
                        .product-detail__inner-row
                            button.btn-actions
                                .btn-actions__icon
                                    +icon('favorites', 'svg-icon_favorites')
                                .btn-actions__text В избранное
                            button.btn-actions
                                .btn-actions__icon
                                    +icon('compare', 'svg-icon_compare')
                                .btn-actions__text Сравнить
                        include include/blocks/slider-detail
                    .product-detail__column.product-detail__column_size_2
                        include include/blocks/parameter
                        include include/blocks/modifications
                    .product-detail__column.product-detail__column_size_3
                        include include/blocks/slider-features
                        include include/blocks/order
                        include include/blocks/documentation
                .product-detail__part_mob.product-detail__part_indent
                    include include/blocks/slider-features
                .product-detail__part_mob.product-detail__part_indent
                    include include/blocks/documentation
                .product-detail__bottom.product-detail__bottom_indent
                    include include/blocks/description
                    include include/blocks/stock
                include include/blocks/calc-banner
                .product-detail__title Сопутствующие товары:
                include include/blocks/related-product
