extend include/template1


block variables
	-
		var title = 'Где купить';
	-
		var breadcrumbs = [
		{
		'name': 'Главная',
		'url': '#'
		},
		{
		'name': 'Где купить',
		'url': ''
		}
		];

block content
	section.container
		.description#description
			.description__title= $partnersList.title
			.description__desc.html-area !{$partnersList.description}
			.show-all-btn.description__show-all-btn(data-show-all='Свернуть' data-show-all-block='description').js--description-show-all
				span.show-all-btn__text(data-show-all-text='')  Читать полностью
		include include/blocks/form-catch2



