.filter{
	&__header{
		display: none;
	}
	&__title{
		color: $color_base;
		font-size: 16px;
		font-weight: 400;
	}
	&__close{
		@include size(25px);
		padding: 0;
		border: 1px solid $color_base;
		border-radius: 50%;
		background-color: #fff;
		svg{
			fill: $color_base;
		}
		&:hover{
			background-color: $color_base;
			outline: none;
			svg{
				fill: #fff;
			}
		}

	}
	&__item{
		&_line{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&_label-selector{
			margin-top: 20px;
		}
		&_button-area{
			margin-top: 40px;
		}
		&_selector{
			@include mv(22px);
		}
	}
	&__selector-area{
		@include mv(60px, 40px);
	}
	&__name{
		color: #999;
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
	}
	&__price{
		padding-top: 25px;
	}

	&__btn{
		display: block;
		@include size(100%, 40px);
		background-color: transparent;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		border-radius: 2px;
		transition: all 0.3s ease;
		&:hover{
			cursor: pointer;
		}
		&_submit{
			color: #fff;
			background-color: $color_base;
			border: 1px solid $color_base;
			&:hover{
				color: $color_base;
				background-color: #fff;
				border: 1px solid $color_base;
			}
		}
		&_clear{
			margin-top: 10px;
			color: #999;
			background-color: #f0f0f0;
			border: 1px solid #f0f0f0;
			&:hover{
				color: #777;
				background-color: #fff;
				border: 1px solid #e0e0e0;
			}
		}
	}
}


@media (max-width: 980px){
	.filter{
		display: flex;
		flex-direction: column;
		height: 100vh;
		max-width: 320px;
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 70;
		background-color: #fff;
		transition: left 0.3s ease;
		&_active-adaptive{
			left: 0;
		}
		&__header{
			height: 111px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 60px 20px 25px 20px;
			border-bottom: 1px solid #f0f0f0;
			margin-bottom: 27px;
		}

		&__container{
			overflow-y: auto;
			flex-grow: 1;
			padding: 0 20px 20px 20px;
		}
	}
}