.footer{
	@include pv(60px, 70px);
	background-image: linear-gradient(to right, #3366cc 0%, #333399 100%);
	&__row{
		display: flex;
		justify-content: space-between;
		&_top{
			margin-bottom: 26px;
		}
	}
	&__desktop{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__column{
		&_subscribe{
			width: 320px;
		}
		&_subs-mob{
			display: none;
		}
		&_developed {
			max-width: 320px;
			width: 100%;
		}
	}
	&__title{
		display: flex;
		align-items: center;
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		svg{
			fill: #fff;
			transform: rotate(90deg);
			margin-right: 15px;
			display: none;
			transition: transform .4s ease;
		}
		&_open{
			svg{
				transform: rotate(270deg);
			}
		}
		&_subscribe{
			margin-bottom: -24px;
		}
	}
	&__tablet{
		display: none;
	}
	&_mtop{
		margin-top: 60px;
	}
}

.footer-column{
	&__content{
		margin-top: 40px;
	}
}

.footer-menu{
	@extend %ul-default;
	&__item{
		&:not(:last-child){
			margin-bottom: 16px;
		}
	}
	&__link{
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		text-decoration: underline;
		line-height: 1.4;
		&:hover{
			text-decoration: none;
		}
	}
}

.footer-contacts{
	&__item{
		display: block;
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.4;
		&:not(:last-child){
			margin-bottom: 14px;
		}
	}
}

.logs-icons{
	@extend %ul-default;
	display: flex;
	&__item{
		&:not(:last-child){
			margin-right: 20px;
		}
	}
	&__link{
		display: flex;
		align-items: center;
		justify-content: center;
		@include size(28px);
		border: 2px solid #fff;
		border-radius: 5px;
		transition: border-color 0.3s ease;
		svg{
			fill: #fff;
			transition: fill 0.3s ease;
			@include size(16px);
		}
		&:hover{
			border-color: #9a00ff;
			svg{
				fill: #9a00ff;
			}
		}
	}
}

.developed{
	&__link{
		display: flex;
		align-items: center;
	}
	&__text{
		color: #3399ff;
		font-size: 16px;
		font-weight: 400;
		line-height: 30px;
	}
	&__img{
		margin-left: 20px;
	}
}


@mixin placeholder_subs(){
	color: #708dd7;
	font-size: 16px;
	font-weight: 400;
}
.subscribe{
	&__form{
		margin-bottom: 0;
	}
	&__input{
		width: 100%;
		line-height: 40px;
		@include ph(12px);
		color: #fff;
		border-bottom-color: #fff;
		&::-webkit-input-placeholder {
			@include placeholder_subs;
		}
		&::-moz-placeholder{
			@include placeholder_subs;
		}
		&:-moz-placeholder{
			@include placeholder_subs;
		}
		&:-ms-input-placeholder{
			@include placeholder_subs;
		}
		&:hover,
		&:active,
		&:focus{
			outline: none;
		}
	}
	&__btn{
		margin-top: 20px;
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		border: 1px solid #fff;
		background-color: transparent;
		padding: 10px 17px;
		&:hover{
			background-color: #fff;
			color: $color_base;
		}
	}
}


@mixin placeholder_subs_tablet(){
	font-size: 14px;
}

@media(max-width: 1020px){
	.footer-column__content{
		display: none;
		margin-top: 32px;
		padding-left: 25px;
	}

	.footer-menu{
		&__link{
			font-size: 14px;
		}
	}

	.footer-contacts{
		&__item{
			font-size: 14px;
		}
	}

	.footer{
		padding: 50px 20px 60px 20px;
		&__container{
			padding: 0;
		}
		&__row{
			&_top{
				//flex-direction: column;
			}
			&_bottom{
				align-items: flex-end;
				margin-top: -35px;
			}
		}
		&__desktop{
			flex-direction: column;
			width: auto;
			&:focus {
				outline: none;
			}
		}
		&__tablet{
			display: block;
			width: 285px;
		}
		&__column{
			&_subscribe,
			&_social{
				display: none;
			}
			&_subs-mob{
				display: block;
				width: 285px;
			}
			&:not(#{&}_subscribe):not(#{&}_developed):not(:last-of-type){
				margin-bottom: 35px;
			}
		}
		&__title{
			font-size: 16px;
			svg{
				display: block;
			}
			&_subscribe{
				margin-bottom: 14px;
			}
		}
	}
	.subscribe{
		&__form{
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}
		&__input{
			width: calc(100% - 70px);
			font-size: 14px;
			line-height: 2;
			&::-webkit-input-placeholder {
				@include placeholder_subs_tablet;
			}
			&::-moz-placeholder{
				@include placeholder_subs_tablet;
			}
			&:-moz-placeholder{
				@include placeholder_subs_tablet;
			}
			&:-ms-input-placeholder{
				@include placeholder_subs_tablet;
			}
		}
		&__btn{
			font-weight: 600;
			padding: 5px 15px;
			margin-top: 0;
		}
	}
}



@media (max-width: 640px){
	.footer{
		padding: 50px 20px 15px 20px;
		&__container{
			display: flex;
			flex-direction: column;
		}
		&__row{
			width: 100%;
			&_top{
				flex-direction: column;
				margin: 0;
			}
			&_bottom{
				flex-direction: column-reverse;
				align-items: flex-start;
				margin: 0;
			}
		}
		&__desktop{
			align-items: flex-start;
		}
		&__tablet{
			width: auto;
			@include mv(70px, 60px);
		}
		&__column{
			&_developed{
				margin-top: 60px;
			}
		}
	}
}













