.header {
	width: 100vw;
	z-index: 60;
	position: relative;
	&.affix .header-logo-mini {
		padding-right: 0;
		width: 0;
		opacity: 0;
	}
	&.affix#{&}_affix_animation {
		animation: affixHeaderShow 0.5s ease-in-out;
		animation-iteration-count: 1;
	}
	&__btn-actions.btn-actions {
		.btn-actions__text {
			color: #3366cc;
			font-size: 14px;
			white-space: nowrap;
			margin-right: 4px;
			margin-top: 0;
		}
		.btn-actions__icon {
			margin-right: 0;
		}
		&:hover {
			.btn-actions__text {
				color: #3366cc;
			}
			.btn-actions__icon {
				svg {
					fill: $color_base;
				}
			}
		}
	}
	.btn-actions__order-count {
		@include laptop {
			right: -9px;
			top: -10px;
		}
	}

	&__middle-right-area_search-open {
		.btn-actions__text {
			display: none;
		}
		.header__authorizatiion {
			margin-left: 45px;
		}
		.header__inner-column:not(:last-child) {
			margin-right: 5px;
		}
	}
	&_pos.header {
		z-index: 20;
		@include laptop {
			position: fixed;
			top: 0;
			left: 0;
		}
	}
	.svg-icon_header-contact,
	.svg-icon_header {
		fill: $color_base;
	}

	&__middle-left-area {
		margin-right: 165px;
		//flex-shrink: 0;
	}
	&__line {
		width: 100%;
		position: relative;
		&_top {
			height: 35px;
			box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.03);
			z-index: 1;
			position: relative;
			background-color: #fff;

		}
		&_middle {
			height: 105px;
			background-color: #fff;
		}
		&_bottom {
			height: 45px;
			background-image: linear-gradient(to right, #3366cc 0%, #333399 100%);
			box-shadow: 0 10px 20px -6px rgba(51, 102, 204, 0.6);
		}
		//&.affix:hover .header-logo-mini{
		//	padding-right: 0;
		//	width: 0;
		//	opacity: 0;
		//}
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
	&__lang-switcher {
		display: none;
	}
	&__top-right-area,
	&__middle-right-area {
		display: flex;
		align-items: center;
	}
	&__middle-right-area {
		flex-grow: 1;
		min-width: 100px;
	}
	&__contact {
		display: flex;
		align-items: center;
		color: #777;
		font-size: 16px;
		font-weight: 400;
		fill: #777;
		cursor: default;
		svg {
			margin-right: 13px;
			fill: inherit;
		}
		&[href]:hover {
			color: $color_base;
			fill: $color_base;
			cursor: pointer;
		}
		&:not(:last-child) {
			margin-right: 25px;
		}
	}
	&__top-contacts {
		display: flex;
		align-items: center;
		margin-right: 55px;
	}
	&__search {
		max-width: 840px;
		margin-bottom: 0;
		flex-grow: 1;
		max-width: 100%;
		width: 100%;

	}
	&__enter {
		padding-left: 44px;
	}
	&__buttons-area,
	&__middle-flex-br {
		display: none;
	}
	&__btn {
		@include size(25px);
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		padding: 0;
		background-color: transparent;
		border-radius: 50%;
		text-align: center;
		&_menu,
		&_phone {
			background-color: $color_base;
			svg {
				fill: #fff;
			}
		}
		&:active,
		&:focus {
			background-color: #333399;
			outline: none;
		}
		&_list {
			position: relative;
		}
		.svg-icon {
			&_compare {
				@include size(16px, 17px);
			}
			&_favorites {
				@include size(19px, 18px);
			}
			&_list {
				@include size(19px, 17px);
			}
			&_user {
				@include size(17px, 17px);
			}
		}
		&_close {
			border: 1px solid $color_base;
			svg {
				fill: $color_base;
			}
			html:not(.menu-is-open) & {
				display: none;
			}
		}
		&_menu {
			html.menu-is-open & {
				display: none;
			}
		}
	}
	&_color.header {
		.header-logo__icon {
			&_display_1 {
				display: none;
			}
			&_display_2 {
				display: block;
				fill: #fff !important;
			}
		}

		.header__line_top,
		.header__line_middle,
		.header__line_bottom,
		.catalog-menu__sub-menu {
			background: transparent;
		}
		.main-menu__link,
		.header__contact,
		.main-search__legend,
		.main-search__btn-link,
		.enter-button span,
		.catalog-menu__link,
		.sub-menu__link,
		.lang-switch__title,
		.btn-actions__text {
			color: $color_white-op;
		}
		.svg-icon_header-contact,
		.svg-icon_zoom,
		.svg-icon_enter,
		.svg-icon_enter2,
		.header__btn_close svg,
		.svg-icon_header,
		.btn-actions__icon_favorites svg {
			fill: $color_white-op;
		}
		.btn-actions__icon_compare svg {
			path {
				stroke: $color_white-op;
			}
		}

		.lang-switch__arrow {
			border-top-color: $color_white-op;
		}
		.input-line,
		.header__middle-left-area {
			border-bottom-color: $color_white-op;
		}
		.header__line_top {
			border-bottom-color: transparent;
		}
		.header__container_bottom {
			border-bottom: 1px solid $color_white-op;
		}
		.header-logo__icon {
			fill: #ffffff;
			-webkit-filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 1));
			filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 1));

		}
		.main-menu__line,
		.catalog-menu__link::before {
			background-color: $color_white-op;
			//box-shadow:  0px 0px 15px rgba(255, 255, 255, 1);
		}
		//.catalog-menu__link:hover {
		//	-webkit-filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 1));
		//	filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 1));
		//}
		&:before {
			background: #002279;
			opacity: 0.7;
			box-shadow: 12px -1px 26px 21px rgba(0, 34, 121, 1);
			width: 25px;
			left: -35px;
		}
		&:after {

			background: #002279;
			opacity: 0.7;
			box-shadow: -12px -1px 26px 21px rgba(0, 34, 121, 1);
			width: 25px;
			right: -35px;

		}
		.header__btn_phone,
		.header__btn_menu {
			background-color: $color_white-op;
			svg {
				fill: #203e93;
			}
		}
		.header__btn {
			&:active,
			&:focus {
				background-color: #ffffff;
			}
		}
		.lang-switch__inner-wrap {
			&:hover {
				background-color: rgba(173, 189, 230, .2);
			}
		}
		.header__btn_close {
			border-color: $color_white-op;
		}
		.main-search__input {
			color: #ffffff;
			@include input-placeholder {
				color: $color_white-op;
			}
		}
		.btn-actions__order-count {
			background-color: $color_white-op;
			color: #203e93;
		}
		.catalog-menu__link {
			@include phones {
				color: #fff;
			}
		}
		.main-search__btn-link {
			background-color: transparent;
			@include phones {
				border: 1px solid $color_white-op;
			}
		}
		.header__line_top,
		.header__line_bottom {
			box-shadow: none;
		}

		.header__btn-actions.btn-actions {
			&:hover {
				.btn-actions__text {
					color: $color_white-op;
				}
				.btn-actions__icon {
					svg {
						fill: $color_white-op;
					}
				}
			}
		}
		.main-search__btn-link {
			&:hover {
				text-decoration: none;
			}
		}
		.main-menu__item.active:before {
			background-color: $color_white-op;
		}
	}
	&__authorizatiion {
		display: flex;
		flex-grow: 1;
		margin-left: 60px;
		flex-basis: 100px;
		align-items: center;
		justify-content: flex-end;
		display: none;
		@include desktop {
			margin-left: 20px;
		}
	}

	&__inner-column:not(:last-child) {
		margin-right: 25px;

	}
	&__inner-column {
		max-width: 100%;
	}
	&_authorized {
		.header__enter {
			display: none;
		}
		.header__middle-left-area {
			@include desktop {
				margin-right: 20px;
			}

			@include laptop {
				margin-right: -15px;
			}
		}
		.h-buttons__item_hide-authorized {
			display: none;
		}
		.h-buttons__item_hide-authorized_phones {
			@include phones {
				display: none;
			}
		}
		.h-buttons__item:not(:last-child) {
			@include laptop {
				margin-right: 15px;
			}
		}
		.header__authorizatiion {
			display: flex;
			@include laptop {
				display: none;
			}
		}
	}
}

@keyframes affixHeaderShow {
	from {
		top: -140px
	}
	to {
		top: 0;
	}
}

//отступ от шапки при прилипании меню каталога на десктопе
.js--header-desktop-affix.affix + .js--affix-offset {
	height: 45px;
}

.header-affix-offset {
	@include laptop {
		height: 95px;
	}
}

.js--header-affix-offset.offset-height {
	height: 185px;
}

.header-logo {
	@include laptop {
		width: 80px;

	}
	&__link {
		display: block;
		max-width: 150px;
		width: 100%;
	}
	// Если лого в svg
	&__icon {
		max-width: 100%;
		fill: $color_base !important;
		//&_color_1 {
		//	display: none;
		//}
		&_color_2 {

			fill: #ffffff !important;
		}
		&_display_2 {
			display: none;
		}

	}
	// Если лого в png
	//&__img {
	//	display: block;
	//	max-width: 100%;
	//	height: auto;
	//}
}

.enter-button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: 0;
	span {
		margin-right: 15px;
		color: $color_base;
		font-size: 14px;
		font-weight: 400;
		line-height: 30.12px;
	}
	svg {
		fill: $color_base;
	}
	&:hover {
		cursor: pointer;
	}
}

@mixin hide_placeholder() {
	opacity: 0;
}

.main-search {
	display: flex;
	align-items: center;

	flex-basis: 300px;
	flex-grow: 1000;

	&__form {
		flex-grow: 1;
		display: flex;
		align-items: center;
	}
	&__legend {
		color: #3366cc;
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		margin-right: 5px;
	}
	&__input {
		line-height: 28px;
		font-size: 16px;
		flex-grow: 1;
		min-width: 50px;
		width: 100%;
		@include ph(5px);
		-webkit-appearance: none;
		border-radius: 0;
		border-bottom-color: $color_base;
		&::-webkit-input-placeholder {
			@include hide_placeholder;
		}
		&::-moz-placeholder {
			@include hide_placeholder;
		}
		&:-moz-placeholder {
			@include hide_placeholder;
		}
		&:-ms-input-placeholder {
			@include hide_placeholder;
		}
	}
	&__btn-submit {
		background-color: transparent;
		border: none;
		fill: $color_base;
		padding: 0;
		margin-left: 6px;
		&:hover {
			cursor: pointer;
		}
	}
	&__link {
		margin-left: 25px;

		flex-basis: 150px;
		flex-shrink: 0;
		@include laptop {
			flex-basis: auto;
		}
	}
	&__btn-link {
		padding: 0;
		color: #999999;
		font-size: 14px;
		font-style: italic;
		text-decoration: underline;
		transition: color .3s ease;
		background-color: transparent;
		border: none;
		&:after {
			content: ' →';
		}
		&:hover {
			color: $color_base;
			cursor: pointer;
		}
	}
}

.header-logo-mini {
	box-sizing: content-box;
	overflow: hidden;
	position: relative;
	width: 0;
	padding-right: 0;
	z-index: -1;
	opacity: 0;
	transition: all 0.8s ease;
	.affix & {
		padding-right: 13%;
		width: 78px;
		opacity: 1;
		z-index: 5;
	}
	&__image {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.main-menu {
	@extend %ul-default;
	display: flex;
	position: relative;
	&__line {
		position: absolute;
		bottom: 1px;
		left: 15px;
		width: 100px;
		height: 1px;
		background-color: #3366cc;
		transition: .3s ease;
		@include laptop {
			bottom: 3px;
		}
	}

	&__item {
		position: relative;
		&:not(:last-child) {
			padding-right: 40px;
		}
		//&.active:before {
		//	display: block;
		//}
		//&::before {
		//	content: '';
		//	display: none;
		//	position: absolute;
		//	bottom: 1px;
		//	left: 0;
		//	width: 100%;
		//	height: 1px;
		//	background-color: #3366cc;
		//	@include laptop {
		//		bottom: 3px;
		//	}
		//}
	}
	&__link {
		display: block;
		color: #777;
		font-size: 14px;
		font-weight: 400;
		transition: color .3s ease;
		white-space: nowrap;
		padding: 9px 0;
		&:hover {
			color: $color_base;
		}
	}

}

.catalog-menu {
	flex-grow: 1;
	&__list {
		@extend %ul-default;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__link {
		color: #fff;
		font-size: 16px;
		font-weight: 500;
		padding-bottom: 14px;
		position: relative;
		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: 10px;
			left: 50%;
			right: 50%;
			background-color: transparent;
			height: 1px;
			transition: .3s ease;
			box-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
		}
		@include laptop {
			padding-bottom: 0;
		}
		&:hover {
			-webkit-filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 1));
			filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 1));
		}
	}
	&__link:hover:before {
		left: 0;
		right: 0;
		background-color: #fff;

	}
	&__sub-menu {
		position: absolute;
		top: 45px;
		left: 0;
		right: 0;
		width: 100%;
		background-image: linear-gradient(to right, #2952a3 0%, #29297a 100%);
	}
	&__item:last-child {
		margin-right: 10px;
	}
}

.sub-menu {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;

	@extend %ul-default;
	@include pv(35px, 50px);
	@extend .container;
	@include mh(auto);
	&__item {
		width: 31%;
		margin-bottom: 23px;
	}
	&__link {
		color: #fff;
		position: relative;
		font-size: 16px;
		font-weight: 400;
		border-bottom: 1px solid transparent;
		//padding-bottom: 2px;
		line-height: 20px;
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: -30px;
			top: 3px;
			border: 5px solid transparent;
			border-left: 5px solid #3399ff;
			opacity: 0;
		}
		&:hover {
			border-bottom-color: #3399ff;
			&:before {
				opacity: 1;
			}
		}
	}
}

@media (max-width: 1180px) {
	.header {
		&__top-contacts {
			display: none;
		}
	}
}

@mixin search_placeholder() {
	opacity: 1;
	color: #999;
	font-size: 14px;
	font-weight: 400;
}

//tablet and less
@media (max-width: 980px) {
	.header {
		position: relative;
		&_color.header {
			.menu-is-open & {
				background-color: transparent;
			}
		}
		.menu-is-open & {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #fff;
			width: 100vw;
			height: 100vh;
		}
		.menu-is-open .js--header-tablet-affix.affix ~ &__line_bottom {
			padding-top: 65px;
		}
		&:before,
		&:after {
			content: '';
			display: block;
			@include size(40px, 35px);
			position: absolute;
			z-index: 5;
			top: 0;
		}
		&:before {
			left: 0;
			background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 20%, #ffffff 100%);
		}
		&:after {
			right: 0;
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, #ffffff 100%);
		}
		&__line {
			&_top {
				overflow-x: auto;
				overflow-x: auto;
				border-bottom: 1px solid #f0f0f0;
				//height: 25px;
			}
			&_middle {
				height: auto;
			}
			&_bottom {
				background-image: none;
				height: auto;
				background-color: #fff;
			}
		}
		&__container {
			&_middle {
				flex-wrap: wrap;
				height: auto;
			}
			&_bottom {
				height: auto;
			}
		}
		&__cat-menu {
			padding-bottom: 20px;
		}
		&__buttons-area {
			display: flex;
		}
		&__middle-flex-br {
			display: block;
		}
		&__middle-left-area {
			width: calc(100% + 30px);
			@include mh(-15px);
			@include ph(15px);
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid #f0f0f0;
			transition: box-shadow 0.3s ease;
			html:not(.menu-is-open) & {
				box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.03);
			}
		}
		&__middle-right-area {
			width: 100%;
		}
		&__enter {
			display: none;
		}
		&__search {
			width: 100%;
			max-width: none;
			padding-top: 13px;

		}
		&__cat-menu {
			padding-top: 50px;
		}
	}
	.main-search {
		display: flex;
		flex-direction: column;
		&__form {
			width: 100%;
		}
		&__legend {
			display: none;
		}
		&__input {
			&::-webkit-input-placeholder {
				@include search_placeholder;
			}
			&::-moz-placeholder {
				@include search_placeholder;
			}
			&:-moz-placeholder {
				@include search_placeholder;
			}
			&:-ms-input-placeholder {
				@include search_placeholder;
			}
		}
		&__link {
			width: 100%;
			margin-top: 20px;
			margin-left: 0;
		}
		&__btn-link {
			display: block;
			text-align: center;
			width: 100%;
			@include pv(10px);
			font-size: 16px;
			font-weight: 400;
			line-height: 20.61px;
			text-decoration: none;
			font-style: normal;
			background-color: #f0f0f0;
			border-radius: 2px;
			&:after {
				content: none;
			}
		}
	}
	.header-logo-mini {
		display: none;
	}
	.js--show-when-menu-open {
		display: none;
	}
	.catalog-menu {
		&__list {
			flex-direction: column;
			align-items: flex-start;
		}
		&__item {
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		&__link {
			color: #3366cc;
			font-size: 18px;
			font-weight: 600;
		}
	}
	.h-buttons {
		display: flex;
		align-items: center;
		&__item {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
	.main-menu {

		padding-right: 15px;
		&__item {
			&:not(:last-child) {
				padding-right: 20px;
			}
		}
		&__link {
			//font-size: 12px;
		}

	}
}

// Хаки для ie 11 /* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.header {
		&__authorizatiion {
			flex-grow: 1000;
		}
		&__search {
			flex-grow: 100;
		}
		&__middle-right-area_search-open #{&}__search {
			flex-grow: 1000;
		}
		&__middle-right-area_search-open #{&}__authorizatiion {
			flex-grow: 1;
		}
	}

}