.calc-banner.calc-banner_indent
	.calc-banner__wrap
		.calc-banner__content
			.calc-banner__title
				a(href="#")
					| Рассчитайте
				|  освещение своего помещения в калькуляторе
			.calc-banner__desc Это поможет определить оптимальное количество ламп для заказа