.calc.calc_position
    .calc__wrap
        .calc__list.js--calc-wrap
            each itemCalc, indexCalc in $calcList
                .calc__item.js--accord-item
                    .calc__title.js--accord-toggle
                        .calc__title-top
                            .calc__title-icon-box
                                //+icon(itemCalc.icon, "svg-icon_" + itemCalc.icon + " calc__svg-icon calc__svg-icon_" + itemCalc.icon)
                            span.calc__title-text #{itemCalc.title}
                        .calc__title-bottom
                            span.calc__show-all Подробнее...
                    .calc__desc.js--accord-content
                        .calc__text !{itemCalc.desc}
                        a(href=itemCalc.link).calc__btn.btn
                            +icon(itemCalc.icon, "svg-icon_" + itemCalc.icon + " calc__svg-icon calc__svg-icon_" + itemCalc.icon)
                            .btn__text #{itemCalc.linktext}
