.description.description_indent#description
    .description__title Описание товара
    .description__desc.html-area !{$detaiItem.description.text}
    .show-all-btn.description__show-all-btn(data-show-all='Свернуть' data-show-all-block='description').js--description-show-all
        span.show-all-btn__text(data-show-all-text='')  Читать полностью
    .description__video-wrap
        each descVideoItem in $detaiItem.description.video
            iframe(width='560' height='315' src='https://www.youtube.com/embed/'+ descVideoItem frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')


