.documentation.js--documentation.documentation_hide_laptop
	.documentation__title Документация
	.documentation__list
		each documentItem, documentindex in $detaiItem.documentation
			a(href=documentItem.link).documentation__item.documentation-item
				.documentation-item__icon-box
					+icon("document", "svg-icon_document")
				.documentation-item__text= documentItem.title