form.form-catch(method="" action="")
	.form-catch__wrap(style="background-image: url('../img/calc2.png');")
		.form-catch__content
			.form-catch__title Узнайте, где приобрести продукцию Ферон в Вашем городе
			.form-catch__desc Мы позвоним вам и сообщим адреса оптовых и розничных поставщико
			.form-catch__inner-wrap
				.form-catch__input-wrap
					.main-input.form-catch__inner-input-wrap
						input.main-input__input.form-catch__input(type="text", placeholder="Ваш имя...")
					.main-input.form-catch__inner-input-wrap
						input.main-input__input.form-catch__input(type="text", placeholder="Ваш телефон...")
				.form-catch__button-wrap
					button.btn-main.form-catch__btn(type="submit") Отправить
			label.choice-area__item.checkbox.form-catch__checkbox
				input(type="checkbox", name="#", checked)
				span.checkbox__name.form-catch__checkbox-name
					| Я прочитал
					|
					a(href="#").form-catch__checkbox-link условия обработки персональных данных
					|
					| и
					|
					a(href="#").form-catch__checkbox-link политику конфиденциальности
					|    и согласен с ними
				span.checkbox__view
					+icon('plus', 'svg-icon_checkbox-plus')
	a(href="#" style="margin-top: 30px").btn-main.btn-main_full-width.btn-main_blue Или закажите в интернет-магазине


