form.form-catch(method="" action="")
	.form-catch__wrap(style="background-image: url('../img/calc2.png');")
		.form-catch__content
			.form-catch__title
				a(href="#")
					| Рассчитайте
				|  освещение своего помещения в калькуляторе
			.form-catch__desc Это поможет определить оптимальное количество ламп для заказа
			.form-catch__inner-wrap
				.form-catch__input-wrap
					.main-input.form-catch__inner-input-wrap
						input.main-input__input.form-catch__input(type="text", placeholder="Ваш имя...")
					.main-input.form-catch__inner-input-wrap
						input.main-input__input.form-catch__input(type="text", placeholder="Ваш телефон...")
				.form-catch__button-wrap
					button.btn-main.form-catch__btn(type="submit") Отправить
			label.choice-area__item.checkbox.form-catch__checkbox
				input(type="checkbox", name="#", checked)
				span.checkbox__name.form-catch__checkbox-name
					| Я прочитал
					|
					a(href="#").form-catch__checkbox-link условия обработки персональных данных
					|
					| и
					|
					a(href="#").form-catch__checkbox-link политику конфиденциальности
					|    и согласен с ними
				span.checkbox__view
					+icon('plus', 'svg-icon_checkbox-plus')

