.lang-switch
	.lang-switch__wrap.js--lang-switch
		span.lang-switch__title Rus
		.lang-switch__inner-wrap
			.lang-switch__icon-box
				+icon('flag-rus', 'svg-icon_flag-rus')
			.lang-switch__arrow
		ul.lang-switch__dropdown.js--lang-switch-dropdown
			li.lang-switch__dropdown-item.active(data-lang-item='ru')
				.lang-switch__dropdown-link
					| Русский
			li.lang-switch__dropdown-item(data-lang-item='eng')
				.lang-switch__dropdown-link
					| English