.container
	section.main-banner-bg.js--main-banner-bg
		.main-banner-bg__wrap.js--main-banner-bg-wrap
			img(src="img/header-bg.jpg", alt='').main-banner-bg__bg
	.main-banner.main-banner_pos.js--main-banner
		.main-banner__list.js--main-banner-list
			each item, indx in $bannerList
				- var is_number = isNaN(item.title[0]) ? "main-banner__title_text" : ""
				- var is_wheel_tabs = (item.select !== 'undefined' && item.select) ? "main-banner__item_structure_special" : "";
				- var is_decoration = (indx == 0) ? "main-banner__inner-wrapper_decoration js--main-banner-item-decor" : "";
				- var is_column_position = (item.modifier !== "undefined" && item.modifier) ? item.modifier: "";
				//- Если нужно отцентровать контент колонки или колонок по центру, то добавляем модификатор "modifier" со значениями "left", "right", либо "all"
				.main-banner__item.js--main-banner-item(class=is_wheel_tabs )
					.main-banner__inner-item(data-main-banner-inner-item )
						.main-banner__inner-wrapper(class=is_decoration)
							.main-banner__column.main-banner__column_size_1(class=((is_column_position !== "right" && is_column_position !== "") ? "main-banner__column_center" : ""))
								.main-banner__content
									if(item.title !== 'undefined' && item.title)
										.main-banner__title(class=is_number)!= item.title
									if(item.subtitle !== 'undefined' && item.subtitle)
										.main-banner__subtitle !{item.subtitle}
							.main-banner__column.main-banner__column_size_2(class=((is_column_position !== "left" && is_column_position !== "") ? "main-banner__column_center" : ""))
								.main-banner__desc.js--main-banner-part !{item.desc}
								if (is_wheel_tabs)
									include select-tabs
									include wheel-tabs