.modifications.js--modifications
    .modifications__title Модификации
        .catalog-options.modifications__wrap.modifications__wrap_indent_minus
            each option, opt in $detaiItem.options
                .catalog-options__item.modifications__item(class="catalog-options__item_" + option.modifier)
                    span.catalog-options__name= option.name
                    .catalog-options__container
                        each item_option in option.items
                            label.option(class='option_' + option.modifier + " " + (item_option.disabled ? "option_disabled" : ""))
                                input.option__input(type=option.type, name=opt + '_' + id, value=item_option.name,  checked=(item_option.checked ? "checked" : false), disabled=(item_option.disabled ? "disabled" : false),)
                                span.option__name= item_option.name