.news.news_position
    .news__list
        each itemNews, indexNews in $newsList
            article.news__item.news-item
                a(href=itemNews.link).news-item__img-box
                    img(src=itemNews.img, alt='').news-item__img
                .news-item__content
                    .news-item__date #{itemNews.date}
                    a(href=itemNews.link).news-item__title #{itemNews.title}
                    a(href=itemNews.link).news-item__show-all Читать полностью