.order.order_indent.js--order
	.order__wrap
		.order__column.order__column_position_1
			.order__price.price
				.order__price-old.price__old= $detaiItem["old-price"]
				.price__cuttent= $detaiItem.price
		.order__column.order__column_position_2
			.order__counter-amount.counter-amount.js--counter-amount
				button.counter-amount__btn.counter-amount__btn_minus(data-counter-amount-btn="minus") -
				input.counter-amount__value( value="1").js--counter-amount-value
				button.counter-amount__btn.counter-amount__btn_plus(data-counter-amount-btn="plus") +
		.order__column.order__column_position_3
			// Когда заказ добавлен, добавить кнопке класс .order__btn_added и поменять класс .hide на текст в спане
			if($detaiItem.modifier === "not-available")
				button.btn-main.btn-main_full-width.btn-main_transparent Узнать о поступлении
			else
				button.btn-main.btn-main_full-width.order__btn-main_indent
					span.order__btn-text(data-order-btn-text="add") Добавить в заказ
					span.order__btn-text(data-order-btn-text="added").hide Добавлено
		.order__column.order__column_position_4
			if($detaiItem.modifier !== "not-available")
				button.btn-main.btn-main_full-width.btn-main_gray Купить в розницу

		.order__column.order__column_position_5
			.status(class="status_" + $detaiItem.modifier)
				.status__indicator
				.status__text= $detaiItem.text
		.order__column.order__column_position_6
			button.btn-actions.order__btn-actions_indent
				.btn-actions__icon
					+icon('favorites', 'svg-icon_favorites')
				.btn-actions__text В избранное
			button.btn-actions
				.btn-actions__icon
					+icon('compare', 'svg-icon_compare')
				.btn-actions__text Сравнить

