.parameter.parameter_indent#parameter.js--parameter
    .parameter__wrapper.js--parameter-wrap
        .parameter__title Характеристики
        ul.parameter__wrap
            each paramItem, paramIndx in $detaiItem.params
                li.parameter__item
                    span.parameter__value.parameter__value_color.parameter__value_indent #{paramItem.name}
                        if (paramItem.units !== "" && typeof paramItem.units !== "undefined")
                            span ,
                            |   #{paramItem.units}
                    span.parameter__value #{paramItem.value}
    .show-all-btn.parameter__show-all-btn.hide(data-show-all='Свернуть' data-show-all-block='parameter').js--parameter-show-all
        span.show-all-btn__text(data-show-all-text='')  Смотреть все