.order
	.order__wrap
		.order__column.order__column_position_1
			.order__price.price
				.price 198
				.price__current 129 ₽
		.order__column.order__column_position_2
			input.order__counter-amount.counter-amount(type="number" value="1")
		.order__column.order__column_position_3
			button.btn Добавить в заказ
		.order__column.order__column_position_4
			button.btn Купить в розницу
		.order__column.order__column_position_5
			.status(class='status__in-stock')
				.status__indicator
				.status__text В наличии
		.order__column.order__column_position_6
			button.btn-actions
				.btn-actions__icon
					+icon('favorites', 'svg-icon_favorites')
				.btn-actions__text В избранное
			button.btn-actions
				.btn-actions__icon
					+icon('compare', 'svg-icon_compare').class-active
