.related-product
    .related-product__list.js--related-product-list
        -$result = $relatedProductList

        each item, i in $result
            - var id = item.id
            .catalog-item.related-product__item
                .catalog-item__container.catalog-item__container_position
                    .catalog-item__main.catalog-item__main_positon
                        .catalog-item__top.catalog-item__top_position
                            a.catalog-item__image.catalog-item__image_indent(href=item.url)
                                img(src=item.img.src, alt=item.img.alt)
                            .catalog-item__info.catalog-item__info_size_laptop
                                a.catalog-item__name.catalog-item__name_indent(href=item.url)= item.name
                                .catalog-item__inner-wrap
                                    .catalog-item__avly
                                        .catalog-item__price-current.catalog-item__price-current_indent
                                            span= item.prices.current+ '₽'
                                        .catalog-item__price-old.catalog-item__price-old_tablet
                                            span= item.prices.old
                                    .catalog-item__price-old.catalog-item__price-old_desktop.catalog-item__price-old_position_bottom
                                        span= item.prices.old
                    .catalog-item__bottom
                            button.catalog-item__btn-mini.catalog-item__btn-mini_hide_laptop.js--favorites
                                +icon('favorites', 'svg-icon_favorites')
                            button.catalog-item__btn-mini.catalog-item__btn-mini_hide_laptop.js--compare
                                +icon('compare', 'svg-icon_compare')
                            button.catalog-item__btn-order.catalog-item__btn-order_size.catalog-item__btn-order_position.js--add-to-cart В заказ