.select-tabs.js--select-tabs.main-banner__select-tabs
	.select-tabs__nav
		select
			each itemSelect, indexSelect in item.select
				option(data-select_tabs_href=`#special_conditions_${itemSelect.id}`) #{itemSelect.nav}
	each itemTab, indexTab in item.select
		.select-tabs__wrap(data-select-tabs-item-wrap)
			.select-tabs__item(data-select-tabs-item id=`special_conditions_${itemTab.id}` class={"active":(indexTab == 0)})
				.select-tabs__text #{itemTab.desc}