.slider-features.js--slider-features.slider-features_indent
	.slider-features__title Технические данные
	.slider-features__list.js--slider-features-wrap
			each slideFeatureitem, slideFeatureindex in  $detaiItem["slides-features"]
				.slider-features-item.slider-features__item(title=slideFeatureitem.tooltip)
					+icon(slideFeatureitem.icon, "svg-icon_" + slideFeatureitem.icon )
