sectin.slider-detail
    .slider-detail__wrap
        .slider-detail__top
            .slider-detail__icon-wrap
                each iconItem in $detaiItem.slides.icons
                    .label.catalog-item__label(title=iconItem.description)
                        +icon(iconItem.label, 'svg-icon_label-normal slider-detail__icon')
            .slider-detail__inner-wrap.js--slider-detail-for
                each imgItem, imgIndex in $detaiItem.slides.imgs
                    if (imgIndex == 1)
                        a(href="https://www.youtube.com/watch?v=" + imgItem.img + "" data-fancybox="slider-detail").slider-detail__view
                            .play-icon.slider-detail__play-icon.js--slider-detail-play-icon
                            img(src="//img.youtube.com/vi/" + imgItem.img + "/hqdefault.jpg", alt='').slider-detail__video-preview
                    else
                        a(href=imgItem.img data-fancybox="slider-detail").slider-detail__view
                            img(src="img/c/item.jpg", alt='').slider-detail__img

        .slider-detail__bottom
            each imgItem, imgIndex in $detaiItem.slides.imgs
                .slider-detail__preview(data-slide-detail-nav=imgItem.id)
                    if (imgIndex == 1)
                        .play-icon
                    else
                        img(src=imgItem.img, alt='').slider-detail__img
