.stock.stock_size.js--stock
	.stock__close.js--stock-close
	.stock__wrap
		.stock__column
			.stock__title
				.stock__icon-box
					+icon("zipper", "svg-icon_zipper")
				span.stock__title-text Акция!
		.stock__column
			.stock__desc
				a(href="#") Получите
				|	купон продавца, который
				|	даёт скидку до 2500 ₽
				|	на избранные товары
			.stock__note Купон действует до: 23.08.2018
