.tabs.js--tabs-wrap.tabs_position.tabs_indent
    .tabs__nav
        ul.tabs__nav-list.js--tabs-list
            each itemAdvantage, indexAdvantage in $advantagesList
                li.tabs__nav-item.js--tabs-item(class={"active":(indexAdvantage == 0)})
                    a(href=itemAdvantage.href).tabs__nav-link.js--tabs-toggle #{itemAdvantage.category}
    .tabs__wrap
        each itemTab, indexTab in $advantagesList
            - var href = itemTab.href.slice(1)
            .tabs__tab.js--tabs-tab(id=`${href}` class={"active":(indexTab == 0)}  )
                .tabs__list
                    each itemInnerTab, indexInnerTab in itemTab.items
                        .tabs__item.tab-item.js--accord-item
                            .tab-item__title.js--accord-toggle
                                .tab-item__inner-title-wrap #{itemInnerTab.title}
                            .tab-item__desc.js--accord-content #{itemInnerTab.desc}