.wheel-tabs.main-banner__wheel-tabs.js--wheel-tabs
    .wheel-tabs__wrap
        .wheel-tabs__column.wheel-tabs__column_size_1
            .wheel-tabs__nav
                ul.wheel-tabs__nav-list.js--tabs-list.js--wheel-tabs-list.wheel-tabs__nav-list_decoration
                    each itemSelect, indexSelect in item.select
                        li.wheel-tabs__nav-item.js--tabs-item.js--wheel-tabs-item(class={"active":(indexSelect == 0)})
                            a(href=("#" + itemSelect.id)).wheel-tabs__nav-link.js--tabs-toggle #{itemSelect.nav}
        .wheel-tabs__column.wheel-tabs__column_size_2
            each itemTab, indexTab in item.select
                .wheel-tabs__item.wheel-tab-item.js--tabs-tab(id=`${itemTab.id}` class={"active":(indexTab == 0)}  )
                   .wheel-tab-item__desc #{itemTab.desc}